.s_box{
    padding: 16px 20px;
    border: 1px dashed #A7C737;
    border-radius: 23px;
    margin-top: 20px;
    .revenue_icon{
        width: 28px;
        height: 28px;
        background: #D5FA52;
        border-radius: 14px;
        svg{
            margin-left: 6px;
            margin-top: 6px;
        }
    }
    .shop_icon{
        width: 28px;
        height: 28px;
        background: #F28BF4;
        border-radius: 14px;
        svg{
            margin-left: 6px;
            margin-top: 6px;
        }
    }
    .label{
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        margin-top: 5px;
        margin-bottom: 8px; 
    }
    .value{
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        margin: 8px 0px; 
    }
}

.revenue {
    border: 1px dashed #A7C737 !important;
}
.purchase {
    border: 1px dashed #F28BF4 !important;
}
.cashBack{
    border: 1px dashed #7DD8C7 !important;
}
.scale{
    border: 1px dashed #C1B7F8 !important;
}
.click{
    border: 1px dashed #835CC6 !important;
}
.traffic{
    border: 1px dashed #FFD966 !important;
}