.MarqueeSliderContainer {
    background: linear-gradient(98deg, rgb(235, 235, 235) 0%, rgb(227, 214, 242) 100%);
    color: #000000;
    position: absolute;
    bottom: 10px;
    padding: 15px;
    width: 100%;

    @media (max-width: 767px) {
        position: unset;
    }

    p {
        margin: 0;
        font-size: 18px;
    }
}