.MarqueeSliderContainer {
    background: linear-gradient(98deg, rgb(235, 235, 235) 0%, rgb(227, 214, 242) 100%);
    color: #000000;
    position: absolute;
    bottom: 10px;
    padding: 7px 15px;
    width: 100%;

    @media (max-width: 767px) {
        position: unset;
        padding: 4px 8px;
    }
    @media (max-width: 375px) {
       background: #000000;
       margin-bottom: 24px;
    }

    p {
        margin: 0;
        font-size: 18px;

    @media (max-width:767px) {
        font-size: 12px;
        line-height:14px;
    }
    @media (max-width:375px) {
        color: #fff;
        line-height: 25px;
    }
    }
}