@import "./variables.scss";

.simpleBtn {
	color: #2b343d !important;
    background-color: #FCFCFC;
    border-color: #a5a5a5d5;
    @extend .p-2;
	align-items: center;
    font-size: 12px;
    font-weight: 600;

	&:hover {
			// color: #fff;
		background-color: #e9e9e9d5;
		transition: all .4s ease-in-out;
        border-color: #a5a5a5d5;
	}

	&:focus {
		background-color: #e9e9e9d5;
        color: #1D2329 !important;
		align-items: center;
        font-size: 12px;
        font-weight: 600;
	}
}