@import "./variables.scss";

.onboarding__button {
	color: black !important;
	@extend .rounded, .px-0;
	background-image: $brand-gradiant;
	box-sizing: border-box;
	width: 176px;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700!important;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	display: flex;
	position: relative;
	justify-content: center;
	text-decoration: none;
	z-index: 2;
	// border-radius: 2px;
	// width: 264px;
	// height: 30px;
	border: none;
	// border-image-slice: 1;
	// // border-width: 5px;
	// border-image-source: $brand-gradiant !important;
	// // @extend .rounded;
	// background-origin: border-box;
	// background-clip: content-box, border-box;
	span {
		align-items: center;
		background-color: #fff;
		@extend .rounded;
		font-weight: 700!important;
		font-size: 18px;		
		white-space: nowrap;
		display: flex;
		justify-content: center;
		height: 98%;
		transition: background 0.5s ease;
		width: 98%;

		span {
			@extend .p-2, .px-3, .fs-6;
			font-size: 18px!important ;
		}
	}

	&:hover {
		span {
			// color: #fff;
			background-color: transparent;
		}
		// background-color: $brand-gradiant !important;
		// background-image: $brand-gradiant !important;
		// moz-transition: all .4s ease-in-out;
		// -o-transition: all .4s ease-in-out;
		// -webkit-transition: all .4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	&:focus {
		outline: none !important;
	}
}
