@import "./variables.scss";
.dashboard_campaign{
    @extend .mt-4;

    h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: $black;
    }
    h4 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #1D2329;
    }

    &__box_1 {
        height: auto;
        width: 500px;
        left: 0px;
        top: 56px;
        border-radius: 23px;
        border: 1px dashed $dotted-border-color1;
        padding: 10px;
    }
    &__box_2{
        width: 500px;
        // height: 162px;
        border: 1px dashed $dotted-border-color2;
        border-radius: 23px;
        padding: 10px;
        @extend .mt-5;
    }
    &__box_3 {
        width: 596px;
        height: auto;
        border: 1px dashed $dotted-border-color3;
        box-sizing: border-box;
        border-radius: 23px;
        padding: 10px;
        @extend .mt-2;
    }      
    &__box_4 {
        // width: 343px;
        height: 462px;
        border: 1px dashed $dotted-border-color4;
        box-sizing: border-box;
        border-radius: 23px;
        padding: 10px;
        @extend .mt-2;
    }      
    &__box_5 {
        // width: 339px;
        // height: 167px;
        border: 1px dashed $dotted-border-color4;
        box-sizing: border-box;
        border-radius: 23px;    
    }      
    &__light_text {
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: silver;
    }
   
}
.dbrewards {
    // width: 343px;
    &_box {
        width: 343px;
        // height: 462px;
        border: 1px dashed $dotted-border-color4;
        box-sizing: border-box;
        border-radius: 23px;
        padding: 10px;
        // @extend .mt-2;
        margin-left: 50px;
    }   
    &_line {
        width: 295px;
        height: 0px;
        opacity: 0.08;
        border: 1px solid #000000;
    }   
    h4{
		font-family: DM Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		color: #1D2329;
	}
	h6 {
		font-family: DM Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		
		color: #000000;
		}
        &_text_lg {
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #1D2329;
		}
	&_text_sm {
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: #1D2329;
		opacity: 0.5;
		}

        button {
            height: 21px;
            width: 66px;
            @extend .mx-0;
            border-radius: 8px;
            color: #ffffff;
            opacity: 40%;
            // margin: 3px;        
        }
        &__low_btn {
            background: rgba(232, 101, 98, 0.5) !important;
        }
        &__avg_btn {
            background: #f7bc7d!important;
        }
        &__high_btn {
            background: #a7c737!important;
        }
        &__super_btn {
            background: #a68ad6!important;
        }

    &__percent_btn{
        height: 24px;
        width: 45px;
        border-radius: 6px;
        text-align: center;
        background-color: #D5FA52;
    
    }
        
}

