@import "./variables.scss";

.dashboard_campaign {
    @extend .mt-4, .px-0;

    h3 {
        @extend .fw-bolder, .lh-base, .px-0, .fs-3, .mt-2;
        font-family: Montserrat;
        color: $black;
    }
    h4 {
        @extend .fs-4, .fw-bold, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    hr {
        opacity: 0.08;
        border: 0.5px solid #000000;
    }
    &__box_1 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
    }

    &__box_2 {
        @extend .mb-3, .p-4;
        border: 1px dashed $dotted-border-color2;
        border-radius: 18px;
    }

    &__box_3 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color3;
        border-radius: 18px;
    }

    &__box_4 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color4;
        border-radius: 18px;
    }

    &__box_5 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color4;
        border-radius: 18px;
    }

    &__light_text {
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: silver;
    }
    &__lightBg {
        height: 135px;
        background: #f3f3f3;
        border: 1px dashed #cdc5f9;
        box-sizing: border-box;
        border-radius: 23px;
        padding: 10px;
    }
.existing_pages{
   color:  $brandgreen;
   border: $black;

}

}
.dbrewards {
    &_box {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
    }

    &_line {
        width: 295px;
        height: 0px;
        opacity: 0.08;
        border: 1px solid #000000;
    }
    h4 {
        @extend .fs-4, .fw-bold, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    h5 {
        @extend .fs-5, .fw-bold, .lh-base;
        font-family: DM Sans;
        color: $black;
    }
    &_text_lg {
        @extend .fs-5, .fw-normal, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    &_text_sm {
        @extend .fs-6, .fw-normal, .lh-sm;
        font-family: DM Sans;
        color: $subheadingclr;
        opacity: 0.5;
    }

    button {
        height: 21px;
        width: 66px;
        @extend .mx-0;
        border-radius: 8px;
        color: #ffffff;
        opacity: 40%;
        // margin: 3px;
    }
    &__low_btn {
        background: rgba(232, 101, 98, 0.5) !important;
    }
    &__avg_btn {
        background: #f7bc7d !important;
    }
    &__high_btn {
        background: #a7c737 !important;
    }
    &__super_btn {
        background: #a68ad6 !important;
    }

    &__percent_btn {
        height: 24px;
        width: 45px;
        border-radius: 6px;
        text-align: center;
        background-color: #d5fa52;
        display: inline-block;
    }
    &_rewardBtn {
        background-color: transparent;
        border: none;
        text-transform: capitalize;
        text-decoration: underline;
        font-size: 12px;
        line-height: 16px;
        color: $black;
        cursor: pointer;

    }
}
