@import "./variables.scss";

.dashboard_campaign {

    @extend .mt-2, .px-0;
    ::-webkit-input-placeholder {
        // color: #161414;
        // opacity: 0.1;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: rgba(29, 35, 41, 0.5);
    }
    input[type="text"],
    textarea {
        background-color: #fcfcfc;
        // width: 248px;
    }
    &__pop {
        position:relative;
        background: #ffffff;
        border: none !important;
        svg{
            @extend .mx-1;
            position:absolute;
            bottom: -2px;
        }
        &:hover {
            border: none !important;
            color: none;
        }
    }
    &__tooltip {
        background: #ffffff !important;
        border: 1px solid #a7c737 !important;
        border-radius: 2px;
    }
    .popover {
        background: #ffffff !important;
        border: 1px solid #a7c737 !important;
        border-radius: 2px;
    }
    h3 {
        @extend .px-0, .mt-2;
        font-family: DM Sans;
        color: $black;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
    }
    h4 {
        @extend .mb-0;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: $subheadingclr;
    }
    hr {
        opacity: 0.08;
        border: 0.5px solid #000000;
    }
    p {
        font-family: Mulish;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #1d2329;
        opacity: 0.5;
    }

    &_radio_label {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #1d2329;
    }

    &_active_radio_option {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #1d2329;
    }

    &__box_1 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
    }

    &__box_2 {
        @extend .mb-3, .p-4;
        border: 1px dashed $dotted-border-color2;
        border-radius: 18px;
    }

    &__box_3 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color3;
        border-radius: 18px;
        p{
            color: #1d2329 !important;
            opacity: 0.5 !important;
    }
    }

    &__box_4 {
        position: relative;
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color4;
        border-radius: 18px;

        p{
                color: #1d2329 !important;
                opacity: 0.5 !important;
        }
    }

    &__comingsoon {
        position: relative;
    }

    &__overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f3f3F3;
        opacity: 0.9;
        border: 1px dashed $purple;
        border-radius: 5px;
        z-index: 99;
    }
    &__overlayText {
        position: absolute;
        top: 50%;
        left: 50%;
        width: fit-content;
        background: white;
        padding: 0px 10px;
        border-radius: 5px;
        font-size: 30px;
        color: black;
        transform: translate(-50%,-50%);
    }
    &__overlayText1 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: fit-content;
        background: white;
        padding: 0px 10px;
        border-radius: 5px;
        font-size: 20px;
        color: black;
        transform: translate(-50%,-50%);
    }

    &__box_5 {
        position: relative;
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color4;
        border-radius: 18px;
    }

    &__light_text {
        font-family: Mulish;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */
        color: #1d2329;
        opacity: 0.5;
    }

    &_text_limit {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: $subheadingclr;
        opacity: 0.5;
    }

    &__lightBg {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
        background: #f3f3f3;
    }
    &_badge {
        @extend .m-1, .p-1, .px-2, .fw-bold, .rounded, .lh-sm;
        font-size: 8px;
        background: $recommended !important;
        color: $black !important;
    }
}
.dbrewards {
    &_input {
        border: 1px solid #000000;
        border-radius: 6px;
        width: 75px;
        &:focus,
        &:active {
            border: 1px solid #000000;
            border-radius: 6px;
            width: 75px;
            box-shadow: none;
        }
    }
    &_error {
        display: block;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #ff0000;
        margin-top: 10px;
    }
    &_error::first-letter {
        text-transform: uppercase;
    }
    &_box {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color4;
        border-radius: 18px;
    }

    &_line {
        width: 295px;
        height: 0px;
        opacity: 0.08;
        border: 1px solid #000000;
    }
    h4 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: $subheadingclr;
    }
    h5 {
        @extend .mb-0;
        font-family: DM Sans;
        color: $black;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
    }

    &_icon_text {
        font-family: Mulish;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #1d2329;
    }
    &_text_lg {
        @extend .fs-5, .fw-normal, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    &_text_sm {
        @extend .fs-6, .fw-normal, .lh-sm;
        font-family: DM Sans;
        color: $subheadingclr;
        opacity: 0.5;
    }

    &__percent_btn {
        @extend .py-1, .fw-bold, .px-0;
        width: 45px;
        border-radius: 6px;
        text-align: center;
        background-color: #d5fa52;
        display: inline-block;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
    &_rewardBtn {
        @extend .mx-2;
        background-color: transparent;
        border: none;
        text-transform: capitalize;
        text-decoration: underline;
        font-size: 12px;
        line-height: 16px;
        color: $black;
        cursor: pointer;
    }
}

.low_btn {
    @include button-variant($low, $low);
    @extend .me-1, .px-1, .py-1, .lh-sm, .text-end;
    color: $white;
    opacity: 50%;
    width: 66px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .low_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $low;
        border-radius: 8px !important;
    }
}
.avg_btn {
    @include button-variant($average, $average);
    @extend .mx-1, .px-1, .py-1, .lh-sm, .text-end;
    color: $white;
    opacity: 50%;
    width: 75px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .avg_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $average;
        border-radius: 8px !important;
    }
}

.high_btn {
    @include button-variant($btnhigh, $btnhigh);
    @extend .mx-1, .px-1, .py-1, .lh-sm, .text-end;
    color: $white;
    opacity: 50%;
    width: 75px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .high_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $btnhigh;
        border-radius: 8px !important;
    }
}

.super_btn {
    @include button-variant($supercharged, $supercharged);
    @extend .mx-1, .px-1, .py-1, .lh-sm, .my-2, .text-end;
    color: $white;
    opacity: 50%;
    width: 100px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .super_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $supercharged;
        border-radius: 8px !important;
    }
}

.enablebtn {
    @extend .rounded-3, .me-2;
    width: 96px;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $btnhigh;
    }
}

.disablebtn {
    @extend .rounded-3;
    width: 96px;
    &:hover {
        color: $black;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        color: $black;
        opacity: 100%;
        border-color: $black;
        background-color: $disable;
        border-radius: 0.3rem !important;
    }
 
}
.editRewardsBox_modal {
    width: 680px;
    &__content {
      border-radius: 12px;
    }
    &__closebtnlg {
        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;
        svg {
          cursor: pointer;
        }
    }
    &__body {
      color: #000000;
      margin: 0px 45px;
      padding: 0px 0px 30px 0px;
      h5{
        font-weight: $font-weight-bolder;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 4px;
        margin-top: 10px;
      }
    }
    &__top {
      margin-bottom: 10px;
      h3 {
        @extend .mb-3;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: $font-weight-normal;
        font-size: 22px;
        line-height: 28px;
        color: #000000;
      }
      p {
        @extend .mb-0, .d-block;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400 !important;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
      }
    }
    &_text_lg {
        @extend .fs-5, .fw-normal, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
        p {
            @extend .mb-0;
        }
    }
    &__btnSection {
      display: flex;
      justify-content: end;
      align-items: center;

      margin-top: 40px;
    }
    &__whiteBtn{
        @extend .px-4;
        background: #ffffff;
        color: #000000;
    }
    &__purpleBtn{
        background: $classic;
        color: #000000;
        margin-left: 10px;
    }
  }
