@import "./variables.scss";
@import "./variables.scss";

.container {
    &_btnNew{
        background-color: transparent;
        border: none;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #000000;
        &:hover {
            background-color: transparent;
            border: none;
            color: $primary;
        }
        &:active {
            background-color: transparent;
            border: none;
            color: $primary;
        }
    }
    .bg {
        background: #f8f8f8;
        border-radius: 10px;
        @extend .mt-4 ;
		@extend .p-3 ;
		&:hover {
			border:2px solid $brand-gradiant;
		}
    }
    .rows {
        background: #f8f8f8;
        border-radius: 10px;
        @extend .mt-4;
    }
    .bottom_row {
        border: 1px dashed #ccb2f9;
        border-radius: 10px;
        @extend .mt-4;
        &
        p{
            @extend .mt-2;   
        }      
    }
}
.btn_1{
    background-color: red !important;
    width:auto;
    height: 20px;
}