@import "./variables.scss";

.setting_tab {
    @extend .mt-2, .py-4, .d-flex, .px-0;

    &__coming_soon {
        position: relative;
        display: flex;
    }

    &__overlay {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f3f3F3;
        opacity: 0.9;
        border: 1px dashed $purple;
        border-radius: 5px;
        z-index: 99;
    }
    &__overlayText {
        position: absolute;
        top: 50%;
        left: 50%;
        width: fit-content;
        background: white;
        padding: 0px 10px;
        border-radius: 5px;
        font-size: 25px;
        color: black;
        transform: translate(-50%,-50%);
    }

    h4 {
        @extend  .mt-2, .mb-0, .pb-0;
        color: $subheadingclr;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px!important;
        line-height: 21px;
    }

    &_general {
        @extend .p-3;
        border: 1px dashed $tab1_clr;
        border-radius: 18px;
        box-sizing: border-box;
        width: 160px;
        cursor: pointer;
        &:hover {
            background-color: $tab1_clr;
            color: $white;
            border: 1px dashed $white;
            h4 {
                color: $white;
            }
            svg * {
                fill: $white;
            }
        }
        h4 {
            color: $subheadingclr;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px!important;
            line-height: 21px;
        }
        &_active {
            @extend .p-3;
            background-color: $tab1_clr;
            color: $white;
            border: 1px dashed $white;
            border-radius: 18px;
            box-sizing: border-box;
            width: 160px;
            h4 {
                color: $white;
            }
        }
    }

    &_layout {
        @extend .p-3;
        border: 1px dashed $tab2_clr;
        border-radius: 18px;
        width: 160px;
        cursor: pointer;
        svg {
            color: $tab2_clr;
        }
        &:hover {
            background-color: $tab2_clr;
            border: 1px dashed $white;
            color: $white;
            h4 {
                color: $white;
            }
        }
        h4 {
            color: $subheadingclr;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px!important;
            line-height: 21px;
        }
        &_active {
            @extend .p-3;
            border-radius: 18px;
            width: 160px;
            background-color: $tab2_clr;
            border: 1px dashed $white;
            color: $white;
            cursor: pointer;
            h4 {
                color: $white;
            }
        }
    }

    &_marketing_tool {
        @extend .p-3;
        border: 1px dashed $tab3_clr;
        border-radius: 18px;
        width:max-content;
        cursor: pointer;
        svg {
            color: $tab3_clr;
        }
        &:hover {
            background-color: $tab3_clr;
            border: 1px dashed $white;
            color: $white;
            h4 {
                color: $white;
            }
            svg * {
                fill: $white;
            }
        }
        h4 {
            color: $subheadingclr;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px!important;
            line-height: 21px;
        }
        &_active {
            @extend .p-3;
            border-radius: 18px;
            width:max-content;
            background-color: $tab3_clr;
            border: 1px dashed $white;
            color: $white;
            cursor: pointer;
            h4 {
                color: $white;
            }
        }
    }

    &_affiliate_tool {
        @extend .p-3;
        border: 1px dashed $btnhigh;
        border-radius: 18px;
        width:max-content;
        cursor: pointer;
        svg {
            color: $btnhigh;
        }
        &:hover {
            background-color: $btnhigh;
            border: 1px dashed $white;
            color: $white;
            h4 {
                color: $white;
            }
            svg * {
                fill: $white;
            }
        }
        h4 {
            color: $subheadingclr;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px!important;
            line-height: 21px;
        }
        &_active {
            @extend .p-3;
            border-radius: 18px;
            width:max-content;
            background-color: $btnhigh;
            border: 1px dashed $white;
            color: $white;
            cursor: pointer;
            h4 {
                color: $white;
            }
        }
    }

    &_heading {
        @extend .fw-bolder, .lh-base, .px-0, .fs-3, .mt-3;
        font-family: Montserrat;
        color: $black;
    }
}

.setting_col {
    @extend .d-flex, .mt-2, .px-0;

    &_purplebox {
        @extend .mb-5, .p-4;
        border: 1px dashed $purple1;
        border-radius: 18px;
    }

    &_greenbox {
        @extend .mb-5, .p-4;
        border: 1px dashed $green;
        border-radius: 18px;
    }

    &_subheading {
        @extend .fs-4, .fw-bold, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    &_p {
        @extend .lh-base, .fs-3;
        color: $pclr;
    }
}
