@import "./variables.scss";

.generalform {
    @extend .d-flex, .mt-2, .px-0;
    h3 {
        @extend .m-3, .px-0;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: $black;
    }
    h4 {
        color: $subheadingclr;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px!important;
        line-height: 21px;
    }
    .form-control {
        height: 42px !important;
    }
    &_purplebox {
        @extend .mb-5, .p-4;
        border: 1px dashed $purple1;
        border-radius: 18px;
    }

    &_greenbox {
        @extend .mb-5, .p-4;
        border: 1px dashed $green;
        border-radius: 18px;
    }

    &_subheading {
        @extend .fs-4, .fw-bold, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    &_p {
        @extend .lh-base, .fs-3;
        color: $pclr;
    }
    &_count_txt {
        @extend .my-2, .py-1, .d-block;
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        color: $subheadingclr;
        opacity: $opacity-medium;
        line-height: $line-height-16;
    }

    &_light_txt {
        color: $subheadingclr;
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: $line-height-18;
        font-family: 'Mulish';
        opacity: $opacity-medium;
    }

    &_Obupload {
        @extend .p-2;
		width: 198px !important;
		height: 87px !important;
	}

    &_smalltxt {
        @extend .px-4;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        line-height: 13px;
        opacity: $opacity-medium;
        color: $subheadingclr;
        font-family: "DM Sans";
        font-style: normal;
    }

    &__name {
        height: $field-height !important;
    }
    &__select {
        @extend .mt-3, .w-75, .form-control, .p-2;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
        height: 41px !important;
        &::after {
            padding-left: 10px !important;
            padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
        }
    }
}
