@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
// @import "~/bootstrap/scss/bootstrap";
// body {
// 	padding: 0;
// 	margin: 0;
// 	font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
// 		Droid Sans, Helvetica Neue, sans-serif;
// }
// Required
@import "~bootstrap/scss/functions";

// Default variable overrides
// $body-bg: #000;
// $body-color: #111;
$font-family-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
	"Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base: 0.75rem !default;
$small-font-size: .675em !default;

$sub-sup-font-size: .55em !default;

$display-font-weight: 400 !default;
$font-weight-light: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;
// Required
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional Bootstrap components here
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// etc
@import "~bootstrap/scss/bootstrap";

@import "./variables.scss";
.brand--gradiant {
	background: $brand-gradiant;
}
