@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,500&family=Fahkwang:wght@300;500;700&display=swap");

$font-family-sans-serif: "DM Sans", Fahkwang, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
	"Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji" !default;

.groupshop {
	background-color: white !important;
	font-family: "DM Sans" !important;
	p {
		@extend .mb-0;
	}
	&__logo {
		@extend .d-flex, .justify-content-center;
		img {
			height: 15px;
		}
	}

	&__last {
		@extend .d-flex, .justify-content-end;
	}

	&_counter_top {
		p {
			margin-bottom: 0px;
			@extend .fw-bold;

			span {
				@extend .p-1, .px-2, .border, .rounded, .ms-1;
			}
		}
	}

	&_infobutton {
		@extend .d-flex, .mb-0, .align-items-center;
		span {
			@extend .ms-1, .fs-6;
		}
	}

	&_brand {
		@extend .text-uppercase;
		font-family: Fahkwang !important;
	}

	&__top {
		@extend .py-3, .d-flex, .justify-content-center, .w-100;

		&_members {
			@extend .d-flex, .justify-content-center, .flex-column;
			.list-group-item {
				@extend .m-1, .p-1, .rounded;
			}
		}

		&_item {
			@extend .m-1, .p-1, .rounded, .border, .text-capitalize;
			border-color: $purple !important;
			border-width: 2px;
			cursor: pointer !important;
			min-width: auto !important;
			&:hover {
				@extend .shadow-sm;
			}
		}

		&_invite {
			@extend .groupshop__top_item;
			border-style: dashed !important;
		}
	}

	&__earn {
		border-color: $purple;
		border-width: 2px;
		min-width: auto;
		&:hover {
			@extend .groupshop__earn;
			background-color: $purple !important;
		}
	}

	&_copy2clipboard {
		@extend .w-100, .rounded-3, .border, .d-flex, .justify-content-between, .py-1, .px-3, .align-items-center;
		span {
			@extend .w-75, .text-truncate;
		}
		button {
			min-width: auto !important;
		}
	}

	&_facebook:hover {
		color: blue;
	}

	&_youtube:hover {
		color: darkred;
	}

	&_instagram:hover {
		color: red;
	}

	&_pinterest:hover {
		color: darkred;
	}

	&_twitter:hover {
		color: skyblue;
	}

	&_tiktok:hover {
		color: green;
	}

	&__hero {
		@extend .mw-100, .border, .d-flex, .justify-content-center, .align-items-center;
		height: 291px;
		background-repeat: repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: auto;
		color: white;
		@include media-breakpoint-up(lg) {
			height: 400px;
		}
	}

	&_dropdown {
		@extend .rounded-pill, .text-center;
		line-height: 1rem;
		padding: 0.25rem;
		svg {
			margin-left: 2px;
		}
		&::after {
			@extend .border-0;
		}
	}

	&_sort {
		button {
			@extend .border-0, .text-center, .fs-5, .fw-bold;
			line-height: 1rem;
			padding: 0.25rem;
			svg {
				margin-left: 2px;
			}
			&::after {
				@extend .border-0;
			}
		}
	}

	&__pcard {
		width: 282px;
		position: relative;
		@extend .border-0;
		&_small {
			// width: 144px;
			// height: 216px;
			width: 90%;
		}

		&_image {
			height: 282px;
			object-fit: contain;
		}
		&_overlay {
			height: 282px;
		}

		&_tag {
			@extend .p-1, .px-2, .fs-6, .rounded, .fw-bold, .text-uppercase, .m-1;
			background-color: white;

			&_price {
				@extend .groupshop__pcard_tag;
				top: 10px;
				position: absolute;
			}

			&_boughtby {
				@extend .text-capitalize;
				// bordser: solid black;
				position: absolute;
				top: 60px;
				height: 76%;
				width: 50%;
				display: flex;
				flex-direction: column-reverse;
			}

			&_buyer {
				@extend .groupshop__pcard_tag, .text-capitalize;
				width: fit-content !important;
			}

			&_cross {
				@extend .groupshop__pcard_tag;
				@extend .p-1, .py-2, .rounded-pill, .m-1;
				background-color: white !important;
				top: 3px;
				right: 10px;
				position: absolute;
			}

			&_addedby {
				@extend .groupshop__pcard_tag;
				// @extend .p-1, .py-2, .rounded-pill, .m-1;
				// background-color: white;
				top: 220px;
				right: 15px;
				position: absolute;
			}
			&_addedbytop {
				@extend .groupshop__pcard_tag;
				// @extend .p-1, .py-2, .rounded-pill, .m-1;
				// background-color: white;
				top: 4px;
				left: 1px;
				position: absolute;
			}
			&_addedbyname {
				@extend .groupshop__pcard_tag;
				// @extend .p-1, .py-2, .rounded-pill, .m-1;
				background-color:transparent;
				top: 10px;
				// right: 15px;
				position: absolute;
				z-index: $zindex-tooltip;
			}

			&_product {
				@extend .groupshop__pcard_tag, .rounded-pill, .w-75, .position-absolute, .top-50;
				left: 12%;
				height: 40px;
			}
		}
	}
	&_row {
		@extend .pt-4;
	}

	&_col {
		@extend .p-2, .text-center;
		h2 {
			@extend .fw-bold, .text-uppercase;
		}
	}

	&_modal {
		@extend .rounded-0;
		width: 100%;
		border-bottom: none !important;
		@include media-breakpoint-up(lg) {
			width: 928px !important;
			max-width: 928px !important;
		}
		div:first-child {
			@extend .border-0, .rounded-0;
		}
		&_search {
			@extend .groupshop_modal;

			&_meter {
				@extend .rounded-pill;
				width: 9.58px;
				height: 9.58px;
				border: 1px solid #ff8f78;
				list-style: none;
				margin-left: 0.5rem;
				&_fill {
					@extend .groupshop_modal_search_meter;
					background-color: #ff8f78;
				}
			}
		}
		&_empty {
			@extend .d-flex, .justify-content-center, .align-items-center;
			min-height: 300px !important;
		}

		&_detail {
			@extend .groupshop_modal;
			h2 {
				@extend .fw-bold;
				font-family: "DM Sans" !important;
			}
			&_thumbnail {
				width: 73px;
				height: 73px;
			}
			&_expire {
				@extend .w-50, .text-center;
				@include media-breakpoint-down(sm) {
					width: 100% !important;
				}
			}
			&_button {
				@extend .m-1, .border-0;
				background-color: white !important;
				&:hover {
					@extend .shadow-sm;
				}
				&_selected {
					@extend .groupshop_modal_detail_button, .border-2;
					border-color: $purple;
				}
			}

			&_featureImage {
				max-width: 400px;
				height: 400px;
				object-fit: contain !important;
			}

			&_height {
				@include media-breakpoint-up(md) {
					min-height: 215px;
				}
			}
		}

		&_cart {
			// @extend .groupshop_modal;
			// width: 430px !important;
			&_close {
				flex-direction: row-reverse !important;
				@extend .pb-0;
			}

			&_body {
				@extend .m-0, .p-0, .text-center;
				font-family: "DM Sans";
				overflow-x: hidden;
				h3 {
					@extend .fw-bold;
				}
				p {
					@extend .fs-5, .mb-0;
				}
				h5 {
					@extend .fw-bold;
				}

				&__scrollable {
					height: 65%;
					overflow-y: scroll;
					overflow-x: hidden;
				}
			}

			&_progress {
				height: 11px;
				@extend .rounded-3, .mt-1;
				background: #ededeacc;
			}

			&_thumbnail {
				width: 127px;
				height: 128px;
			}

			&_quantity {
				input,
				button {
					@extend .rounded-0, .text-center;
					border-color: #e0e0e0;
				}
				input {
					width: 45px;
				}
			}
		}

		// .modal-header {
		// 	border-bottom: none !important;
		// }
	}

	&_infoBox {
		@extend .mx-2;

		&_shoppingBtn {
			width: 192px;
			height: 42.96px;
		}
		h2 {
			@extend .mt-4, .mb-3;
			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 31px;
			text-align: center;
		}
		p {
			@extend .mx-3, .d-block;
			font-family: Mulish;
			font-style: normal;
			font-weight: 400 !important;
			font-size: 18px !important;
			line-height: 23px;
			text-align: center;
			width: 443px;
		}
		&_tostart {
			@extend .py-0, .my-3;
			h3 {
				font-weight: 700 !important;
				font-family: DM Sans;
				font-style: normal;
				font-size: 18px;
				line-height: 23px;
				text-align: center;
			}
			h3:before {
				content: "";
				display: block;
				width: 99px;
				height: 1px;
				background: #dcdcdc;
				left: 210px;
				top: 36%;
				position: absolute;
			}
			h3:after {
				content: "";
				display: block;
				width: 99px;
				height: 1px;
				background: #dcdcdc;
				right: 215px;
				top: 36%;
				position: absolute;
			}
		}

		&_imgBox {
			width: 107.7%;
		}

		&_lastLine {
			@extend .d-flex, .justify-content-center, .align-content-center, .text-center, .mb-4;
			font-family: Mulish;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			display: flex;
			align-items: center;
			text-align: center;

			color: #000000;
		}
	}

	&_search {
		height: 300px;
		overflow-y: scroll;
		overflow-x: hidden;

		&_pcard {
			img {
				height: 236px !important;
			}
			.card-img-overlay {
				background: #ffffff6b !important;
				// height: 230px;
			}
		}

		&_popover {
			width: 325px;
		}
	}
	&_footer {
		@extend .w-100;
		&_f1 {
			@extend .justify-content-center, .align-items-center, .justify-content-around, .mb-5, .mt-2;
		}
		&_f2 {
			@extend .d-flex, .justify-content-center, .align-items-center, .mb-3;
			color: $black;
		}
		p {
			font-weight: 400;
			font-family: DM Sans !important;
			font-style: normal;
			font-size: 14px;
			line-height: 16px;
		}
		b {
			font-family: DM Sans !important;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
		}
		&__logo {
			@extend .d-flex, .justify-content-center;
			img {
				height: 52.26px;
				width: 256.26px;
			}
		}
		&_sub {
			@extend .mx-2;
			border: 1px solid $purple !important;
		}
		input {
			border-bottom: 1px solid $purple !important;
		}

		&_link {
			@extend .border-0, .d-inline, .my-3;
			button {
				text-decoration: none;
				list-style: none;
				font-family: DM Sans;
				font-style: normal;
				font-weight: 500 !important;
				font-size: 14px;
				line-height: 18px;
			}
		}

		div .btn-link {
			text-decoration: none !important;
		}

		&_counter {
			@extend .my-3, .mx-0;
			width: 240px;
			span {
				@extend .d-block, .border, .border-3, .rounded, .fs-4;
				width: 50px;
				display: flex !important;
				justify-content: center;
				align-items: center;
				height: 49px;
				font-weight: 500;
				font-size: 24px !important;
				border: 2px solid $purple !important;
			}

			b {
				font-family: DM Sans !important;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
			}
			p {
				font-weight: 700;
				font-family: DM Sans !important;
				font-style: normal;
				font-size: 12px;
				line-height: 16px;
			}
		}
		&_socialIcon {
			@extend .my-3;
			width: 118px;
			height: 26px;

			&_modal-header {
				border-bottom: none !important;
			}
		}
	}
	&_pagination {
		@extend .d-flex, .justify-content-center;
		margin: 0px 8px !important;
		a {
			width: 30px;
			margin: 0px 8px !important;
			height: 30px;
			padding: 6px 6px;
			border-radius: 15px;
			text-align: center;
			font-size: 12px;
			line-height: 1.42857;
			border: none;
			box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
		}
		span {
			color: #000000;
			background-color: none;
			border-color: #ccb2f9;
			width: 30px;
			height: 30px;
			border-radius: 15px;
			margin: 0px 4px;
			text-align: center;
			font-size: 12px;
			line-height: 1.42857;
			filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.15));
		}
		&_prev {
			margin: 0px 8px !important;
			a {
				border-bottom-left-radius: 0rem !important;
				border-top-left-radius: 0rem !important;
				width: 30px !important;
				height: 30px !important;
				border-radius: 15px !important;
			}
		}
		&_next {
			margin: 0px 8px !important;
			a {
				border-bottom-right-radius: 0rem !important;
				border-top-right-radius: 0rem !important;
				width: 30px !important;
				height: 30px !important;
				border-radius: 15px !important;
			}
		}
	}
	&_btn_circle {
		width: 36px;
		height: 36px;
		padding: 6px 0px;
		border-radius: 100px;
		text-align: center;
		font-size: 12px;
		line-height: 1.42857;
		&:hover {
			background: #dcd0e8;
			border: 2px solid #000000;
		}
	}
	&_added_by_text {
		@extend .m-4;
		font-family: Mulish;
		text-transform: uppercase;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 14px;
		letter-spacing: 0.2px;
		color: #000000;
	}

	&_cart {
		&_totalSave {
			font-family: "Mulish";
			font-style: normal;
			font-weight: 400;
			text-align: start;
			font-size: 12px;
			line-height: 15px;
			color: $black;
		}
		&_checkout {
			@extend  .my-2;
			color: #ffffff;
			background-color: $black;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			letter-spacing: 0.32px;
			width: 313.88px;
		}
		&_spend {
			@extend .px-3, .ms-0;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
		}
	}

	&_PlusUpto {
		// @extend .w-100;
		font-family: "Mulish";
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 14px;
		letter-spacing: 0.2px;
		color: #000000;
	}

	&_pdPrice {
		@extend .text-decoration-line-through;
		font-family: "DM Sans";
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		letter-spacing: 0.36px;
		color: #282828;
	}

	&_cashback{
		@extend .shadow-sm, .mx-1, .p-2, .bg-body, .rounded;
		width: 300pX;}

		&_cartProductText {
			font-family: "DM Sans";
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: $black;
		}
	
		&_cartProductHeading {
			@extend .text-start, .mx-4, .mb-0, .pb-0;
			font-family: "DM Sans";
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: $black;
		}
		&_addtoCart {
			@extend  .rounded-pill, .w-75;
			color: #ffffff;
			background-color: $addtocart;
			font-family: 'DM Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			letter-spacing: 0.32px;
			text-transform: uppercase;
			width: 212px;
		}
		&_Pd_addtoCart {
			@extend .rounded-2, .w-75, .me-2;
			color: #ffffff;
			background-color: $black;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 21px;
			letter-spacing: 0.32px;
			text-transform: uppercase;
			width: 276px;
			height: 43px;
		}
	
		&_InviteBtn {
			@extend .m-1, .float-end;
			font-family: "DM Sans";
			font-style: normal;
			font-weight: 500;
			font-size: 10px;
			line-height: 13px;
			color: $black;
			border-color: $brand-gradiant !important;
	
	}
	&_disableShareCircle{
		@extend .m-1, .rounded-circle, .p-1;
		width: 35px;
		height: 34px;
	}
	&_btnBgClr{
		@extend .border-0;
		background-color: transparent;
	}

	}



