@import "./variables.scss";

.header {
 @extend .mt-5;

  h1 {
    @extend .fw-bolder, .lh-base, .fs-1, .mx-0, .px-0;
    color: $black;
  }

  .head_btn {
    @extend .mx-0, .d-flex;
    justify-content: right;
    background-color: transparent !important;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $black;
    border-color: $gray-100 !important;

    &_head_btn1 {
      @extend .me-2;
    }
  }
}