@import "./variables.scss";

.header {
  @extend .mt-5;

  h1 {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: $black;
    margin: 0;
  }

  &_btn_div {
    @extend .d-flex;
    margin-right: -.75rem;
    justify-content: right;
    
  }

  &_btn {
    @extend .fw-normal, .lh-base;
    border-color: $gray-300 !important;
    color: $black !important;
    background-color: transparent;
    font-family: DM Sans;
    font-size: 14px;

    &:hover {
      background: none !important;
      background-image: none !important;
    }
  }

  &_head_btn1 {
    @extend .d-flex;
  }

  &_head_btn2 {
    @extend .d-flex, .ms-3, .align-items-center;
  }
}
