@import "./variables.scss";

.Kb {
    @extend .px-0;
    h1 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: $black;
    }
    h3 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700 !important;
        font-size: 22px;
        line-height: 29px;
        color: $black;
    }
    h4 {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: $black;
    }
    &_getSetUp {
        @extend .my-3, .py-2, .px-1, .d-flex, .align-items-center;
        // width: 612px;
        width: fit-content;
        // height: fit-content;
        height: 154px;
        background-color: #dcd0e8;
        border-radius: 23px;
    }
    &_guide {
        @extend .p-3, .m-0;
        // width: 314px;
        width: fit-content;
        // height:auto;
        height: 200px;
        background-color: #f8f8f8;
        border-radius: 23px;

        &_heading {
            @extend .d-block, .mb-0;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $black;
        }
    }
    &_featured {
        @extend .my-2;
        // width: 281.64px;
        width: fit-content;
        height: fit-content;
        // height: 119px;
        background-color: #f8f8f8;
        border-radius: 23px;

        &_heading {
            @extend .d-block, .mb-0, .mx-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $black;
            width: 257px;
        }
    }
    &_greenbox {
        @extend .mb-4, .p-3, .mx-2, .mt-1;
        border: 1px dashed $green;
        border-radius: 18px;
    }
    &_gradBox {
        @extend .mb-5, .p-3, .mx-2, .mt-1;
        border: 1px solid;
        border-radius: 18px;
        border: 1px dashed $purple;

        h4{
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: $black; 
        }
    }

    &_subheading {
        @extend .fs-4, .fw-bold, .lh-base;
        font-family: DM Sans;
        color: $subheadingclr;
    }
    &_p {
        @extend .lh-base, .fs-3;
        color: $pclr;
    }

    &_btn {
        @extend .mt-1;
        border-radius: 8px;
        border: 1px solid $black;
        &:hover {
            border-radius: 8px;
            border: 1px solid $black;
        }
    }
    &_FAQs {
        &_headingText {
            @extend .mb-3;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            color: $black;
            opacity: 0.75;
        }
        &_ques {
            button {
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 500 !important;
                font-size: 14px;
                line-height: 20px;
                color: $black;
            }
        }
    }
    &_btn_circle {
        width: 36px;
        height: 36px;
        padding: 6px 0px;
        border-radius: 100px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
        &:hover {
            background: #dcd0e8;
            border: 2px solid #000000;
        }
    }
}
