@import "./variables.scss";

.layout {
    @extend .d-flex, .mt-2, .px-0;

    &__box_1 {
        @extend .mb-4;
        padding: 27px 33px;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
    }

    &__box_3 {
        @extend .mb-4;
        padding: 27px 33px;
        border: 1px dashed #A7C737;
        border-radius: 23px;
    }

    &__box_orange {
        @extend .mb-4;
        padding: 27px 33px;
        border: 1px dashed $average;
        border-radius: 18px;
    }

    &_settings {
        @extend .m-3, .px-0;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: $black;
        margin-bottom: 27px !important;
    }

    &__light_txt {
        color: $subheadingclr;
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: $line-height-18;
        font-family: 'Mulish';
        opacity: $opacity-medium;
        margin-left: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    &__light_meduim_txt {
        color: #1D2329;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'DM Sans';
        opacity: $opacity-medium;
        margin-left: 0px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    &__style_btns {
        @extend .mt-2, .d-flex, .align-items-center;
    }

    h3 {
        @extend .m-3, .px-0;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: $black;
    }

    h4 {
        @extend .mb-1;
        color: $subheadingclr;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 21px;
    }

    .vertical {
        border-top: 1px solid #dee2ed;
        height: 200px;
    }

    .badge {
        @extend .m-1, .rounded, .lh-sm;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        color: $black;
        background: $recommended !important;
        padding: .42rem 10px;
    }

    &__sperator {
        @extend .mt-4;
        color: $black;
        opacity: .08;
        margin-bottom: 26px;
    }

    &__enable_btn {
        // @include button-variant($enable, $enable);
        @extend .me-2, .px-2, .lh-sm, .rounded;
        color: $white !important;
        background-color: $enable !important;
        height: 30px;
        border-color: $black !important;
        border-radius: 6px !important;
    
        &:hover, &:active, &:focus {
            color: $white !important;
            border-color: $black !important;
            background-color: $enable !important;
        }
    
        // &:active,
        // &:focus {
        //     color: $white;
        //     opacity: 100%;
        //     border-color: $black;
        //     background-color: $enable;
        // }
    }
    
    &__disable_btn {
        @include button-variant($disable, $disable);
        @extend .me-2, .px-2, .lh-sm, .rounded, .mx-1;
        color: $black;
        background-color: white;
        border-color: $black;
        height: 30px;
        border-radius: 6px !important;
    
        &:hover, &:active, &:focus {
            border-color: $black !important;
            background-color: $white !important;
            color: $black;
        }
    
        // &:active,
        // &:focus {
        //     color: $black;
        //     opacity: 100%;
        //     border-color: $black;
        //     background-color: $disable;
        // }
    }

    &__modern_btn {
        @extend .me-2, .px-2, .lh-sm, .rounded, .mx-3;
        color: $black;
        background-color: white;
        border-color: $black;
        height: 28px;
        border-radius: 6px !important;
        width: 75px;
    
        &:hover, &:active, &:focus {
            color: $black;
            border-color: $black !important;
            background-color: $modern !important;
        }
    }

    &__classic_btn {
        @extend .me-2, .px-2, .lh-sm, .rounded, .mx-1;
        color: $black;
        background-color: white;
        border-color: $black;
        height: 28px;
        border-radius: 6px !important;
        width: 75px;
    
        &:hover, &:active, &:focus {
            color: $black;
            border-color: $black !important;
            background-color: $classic !important;
        }
    }
    &__description {
        color: $subheadingclr;
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: $line-height-18;
        font-family: 'DM Sans';
        width: 268px;
    }

    &__codesnip {
        @extend .mt-3;
        margin-left: 0px;
        border: 1px solid $lightBorder;
        border-radius: 10px;
        background: $white;
        height: 105px;
        max-width: 268px;
        &__col {
            @extend .pt-2;
            border-right: 1px solid $lightBorder;
        }
        &__txt {
            font-weight: $font-weight-normal;
            font-size: 12px;
            line-height: $line-height-15;
            opacity: $opacity-medium;
            color: $black;
            text-align: center
        }
        &__code {
            font-weight: $font-weight-normal;
            font-size: 12px;
            line-height: $line-height-15;
            opacity: $opacity-medium;
            color: $black;
            text-align: left
        }
    }

    &__checkbox {
        @extend .p-2, .d-flex, .align-items-center;
        &__input {
            width: 20px !important;
            height: 20px !important;
            border: 1px solid white;
            box-shadow: 0 0 0 1px $lightGrey;
            &:checked {
                border: .2rem solid white;
                background-image: none !important;
            }
            &:checked+label {
                font-weight: $font-weight-normal;
            }
            &__label {
                padding-top: .2rem;
                color: $subheadingclr;
                font-size: $font-size-medium;
                font-weight: $font-weight-light;
                line-height: $line-height-18;
                font-family: 'DM Sans';
                padding-left: 8px;
            }
        }
    }
}