@import "./variables.scss";

.layout {
    @extend .d-flex, .mt-2, .px-0;
    &__box_1 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
    }
    &__box_3 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color3;
        border-radius: 18px;
    }
    &__box_orange {
        @extend .mb-4, .p-4;
        border: 1px dashed $average;
        border-radius: 18px;
    }

    h3 {
        @extend .m-3, .px-0;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: $black;
    }
    h4 {
        color: $subheadingclr;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px!important;
        line-height: 21px;

    }

    .vertical {
        border-top: 1px solid #dee2ed;
        height: 200px;
    }
    .badge {
        @extend .m-1, .p-1, .px-2, .fw-bold, .rounded, .lh-sm;
        font-size: 8px;
        background: $recommended !important;
        color: $black !important;
    }
}


.enable_btn {
    @include button-variant($enable, $enable);
    @extend .me-2, .p-2, .lh-sm, .rounded;
    color: $black;
    background-color: white;

    &:hover {
        color: $white;
        border-color: $black;
    }
    &:active, &:focus {
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $enable;
    }
}
    .disable_btn {
        @include button-variant($disable, $disable);
        @extend .me-2, .p-2, .lh-sm, .rounded;
        color: $black;
        background-color: white;

        &:hover {
            color: $black;
            border-color: $black;
        }
        &:active, &:focus {
            color: $black;
            opacity: 100%;
            border-color: $black;
            background-color: $disable;
        }
}
