@import "./variables.scss";

.leftbar {
	background-image: url("../assets/images/brandmark2.png");
	background-size: 80% 100% cover;
	background-repeat: no-repeat;
	@extend .text-start, .pt-4;
	&:first-child {
		@extend .pt-5;
		@extend .mt-3;

	}
	h1{
		margin-top: 42px;
		font-size: 50px;
		margin-left: 30px;

	}
	p {
		@extend .text-start, .fw-bold, .fs-4, .lh-base;
		font-family: Mulish;
		margin-left: 30px;
	}
}
.leftbar1 {
	background-image: url("../assets/images/brandmark3.png");
	background-size: 80% 100% cover;
	background-repeat: no-repeat;
	@extend .text-start;
	&:first-child {
		@extend .pt-5;
		@extend .mt-5;

	}
	h1{
		@extend .fw-normal;
		margin-top: 42px;
		font-size: 50px;
		margin-left: 30px;
		font-weight: 600!important;

	}
	p {
		@extend .text-start;
		font-family: Mulish;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		margin-left: 30px;
		line-height: 20px;
	}
}