@import "./variables.scss";

.marketing {    
    @extend .d-flex, .px-0;
    &__box_1 {
        @extend .mb-4;
        padding: 24px 34px;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
    }
    &__box_3 {
        @extend .mb-4;
        padding: 24px 34px;
        border: 1px dashed $dotted-border-color2;
        border-radius: 18px;
    }
    &__box_orange {
        @extend .mb-4, .p-4;
        border: 1px dashed $average;
        border-radius: 18px;
    }

    &__tooltip_1{
        @extend .mx-2;
    }
    .popover{
        border:5px solid;
    }

    h3 {
        @extend .px-0, .mt-5, .mb-4;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        color: $black;
    }
    h4 {
        color: $subheadingclr;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px !important;
        line-height: 21px;
    }
    p {
        font-family: "DM Sans" !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #1d2329;
        opacity: 0.5;
        
    }
    .vertical {
        border-top: 1px solid #dee2ed;
        height: 200px;
    }
    .badge {
        @extend .m-1, .lh-sm;
        background: $recommended !important;
        color: $black !important;
        font-family: "DM Sans";
        font-weight: 500 !important;
        font-size: 10px;
        text-align: center;
        line-height: 26px !important;
        width: 96px;
        border-radius: 6px;
    }

    .enablebtn {
        @extend .rounded-3, .me-2;
        width: 96px;
        border-color: $black !important;
        background-color: $enable !important;
        color: $white !important;
        &:hover {
            color: $white !important;
            opacity: 100%;
        }
        &:active,
        &:focus,
        &_dark {
            color: $white !important;
            opacity: 100%;
            border-color: $black !important;
            background-color: $btnhigh;
        }
    }

    .disablebtn {
        @extend .rounded-3;
        width: 96px;
        border-color: $black;
        color: $black;
        &:hover {
            opacity: 100%;
        }
        &:active,
        &:focus,
        &_dark {
            color: $black;
            opacity: 100%;
            border-color: $black;
            background-color: $disable;
        }
    }

    &_LinkBtn {
        @extend .pe-2;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
        color: $black;
    }

    &_DownloadBtn {
        @extend .text-nowrap;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        height: 28px;
        width: max-content;
        text-align: center;
        border: $black;
        background: #ffffff;
        border: 1px solid $black;
        border-radius: 6px;
        &:hover {
            border: $black;
            background: #ffffff;
            border: 1px solid $black;
            border-radius: 6px;
        }
    }

    &__submitbtn {
        color: $black;
        border-color: $black;
        width: 96px;
        height: 31px;
        &:hover {
            background: $white;
            border-color: $black;
        }
    }

    &__valid {
        color: #2bb439;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    &_inputIconBox {
        @extend .d-flex;
        position: relative;
    }
    &_inputIcon {
        // @extend .mt-2;
        position: absolute;
        margin-left: -5px;
    }

    &__collapse {
        background: #fcfcfc;
        border: 1px solid #f3f3f3;
        margin-bottom: 15px;

        &__header {
            background: #fcfcfc;
            display: flex;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            border: none;

            svg {
                cursor: pointer;
            }

            &__txt {
                color: #1d2329;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                padding-left: 12px;
            }
        }
    }

    &__ArrowIcon{
        position: relative;
        top: 1px;
    }

    &__input_tooltip{
        @extend .position-absolute;
        top: 7px;
        right: 9px;
    }
}
