@import "./variables.scss";

.getRewardBox_modal {
    width: 750px;
 
    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__closebtnlg {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__closebtnsm {
        @include media-breakpoint-up(sm) {
            display: none;
        }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 0 120px 60px 120px;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 20px 20px;
        }
    }

    &__top {
        margin-bottom: 10px;

        &__icon {
            text-align: center
        }

        h2 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 31px;
            }
        }

        span {
            @extend .mb-0, .d-block;
            font-family: "Mulish";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.5px;
            color: #000000;

            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &__form {
        @extend .mt-3;
        margin-bottom: 60px;
        padding-left: 24px;
        padding-right: 24px;

        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 30px;
        }

        label {
            @extend .mt-3;
            font-family: 'Mulish';
            font-style: normal;
            font-size: 14px;
            line-height: 18px;
        }

        input {
            height: 42px;
            border-color: #D3D3DB;
            background-color:  #F7F7FA;
            &::placeholder {
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
            }
        }

        &__agree {
            font-family: 'Mulish'!important;
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;

            color: #000000;

            @include media-breakpoint-down(sm) {
                margin-top: 10px
            }
        }
    }

    &__btnSection {
        @extend .text-center;

        button {
            padding: 0px 40px;
            background: #000000;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

            @include media-breakpoint-down(sm) {
                font-size: 14px;
                line-height: 18px;
            }
        }

        button:disabled,
        button[disabled]{
            padding: 0px 86px;
        }
    }

    &__info {
        @extend .text-center;

        h2 {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            margin-top: 20px;

        }

        p {
            @extend .mb-1;
            font-family: 'DM Sans' !important;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.whatsInsideBox_modal {
    width: 700px;

    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__closebtnlg {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__closebtnsm {
        @include media-breakpoint-up(sm) {
            display: none;
        }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 0 120px 60px 120px;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 20px 20px;
        }
    }

    &__top {
        &__icon {
            text-align: center
        }

        h2 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 24px;
            line-height: 31px;
            text-align: center;
            color: #000000;
            @include media-breakpoint-down(md) {
                padding: 0px 24px;
            }
        }

        &__inside {
            @extend .d-flex, .align-items-center, .justify-content-center, .mt-4;
            &__border {
                @extend .px-4, .mx-2;
                border: 1px solid #DCDCDC;
            }
            &__text {
                font-weight: $font-weight-bolder;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    &__tile{
        @extend .mt-3;
        padding: 12px 30px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* or 125% */

        text-align: center;

        color: #000000;
        border: 1px dashed #000000;
        border-radius: 100px;
        @include media-breakpoint-down(md) {
            padding: 12px;
            font-size: 15px;
        }
    }

    &__note {
        @extend .mt-4, .text-center;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 30px;
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__btnSection {
        @extend .text-center;

        button {
            padding: 0px 40px;
            background: #000000;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            border-radius: 6px;
        }
    }

    &__info {
        @extend .text-center;

        h2 {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            margin-top: 20px;

        }

        p {
            @extend .mb-1;
            font-family: 'DM Sans' !important;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}

.addChannelBox_modal {
    width: 700px;

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 30px 50px;
    }

    &__nameBox {
        padding: 24px 30px;
        margin: 20px 0px;
        border: 1px dashed $dotted-border-color1;
        border-radius: 18px;
        ::-webkit-input-placeholder {
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #161414;
            opacity: 0.1;
        }
        input[type="text"],
        textarea {
            background-color: #fcfcfc;
        }
        h5 {
            font-weight: $font-weight-bolder;
            font-size: 16px;
            line-height: 21px;
        }

    }

    &__rewardBox {
        padding: 24px 30px;
        margin: 20px 0px;
        border: 1px dashed $dotted-border-color4;
        border-radius: 18px;

        h5 {
            font-weight: $font-weight-bolder;
            font-size: 16px;
            line-height: 21px;
        }

        &__header {
            color: #000000;
            font-family: 'DM Sans';
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
        }

        &__headrow {
            // display: grid;
            // grid-template-columns: 3fr 2fr;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            margin-top: 6px;
        }

        &__heading {
            color: #000000;
            font-family: 'DM Sans';
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;

            svg {
                margin-left: 2px;
            }
        }

        &__percentage {
            padding: 6px 12px;
            background: #D5FA52;
            border-radius: 6px;
            margin-right: 6px;
        }

        &__input {
            border: 1px solid #000000;
            border-radius: 6px;
            width: 75px;

            &:focus,
            &:active {
                border: 1px solid #000000;
                border-radius: 6px;
                width: 75px;
                box-shadow: none;
            }
        }
    }

    &__btnSection {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 40px;
    }

    &__whiteBtn {
        @extend .px-4;
        background: #ffffff;
        color: #000000;
        border-radius: 6px;
    }

    &__purpleBtn {
        @extend .px-4;
        background: $classic;
        color: #000000;
        margin-left: 10px;
        border-radius: 6px;
    }
}

.dropsRewardBox_modal {
    width: 750px;
 
    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__closebtnlg {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__closebtnsm {
        @include media-breakpoint-up(sm) {
            display: none;
        }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 0 100px 60px 100px;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 20px 20px;
        }
    }

    &__top {
        margin-bottom: 10px;

        &__icon {
            text-align: center
        }

        h2 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 31px;
            }
        }
    }
    &__greyBox {
        background-color: $paleGrey;
        padding: 20px 24px;
        border-radius: 6px;
        margin-top: 16px;
        &__text {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
        }
        &__heading {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 16px;
            text-align: center;
        }
    }

    &__btnSection {
        @extend .text-center, .mt-3;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #000000;
            height: 54px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

            // @include media-breakpoint-down(sm) {
            //     font-size: 14px;
            //     line-height: 18px;
            // }
        }
    }
}

.dropsNotifyBox_modal {
    width: 750px;
 
    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__closebtnsm {
        @include media-breakpoint-up(sm) {
            display: none;
        }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 0 100px 60px 100px;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 0px 20px;
        }
    }

    &__top {
        margin-bottom: 10px;

        &__icon {
            text-align: center
        }

        h2 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 31px;
            }
        }
    }
    &__greyBox {
        background-color: $paleGrey;
        padding: 10px 24px;
        border-radius: 6px;
        margin-top: 16px;
        &__text {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
        &__heading {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 16px;
            text-align: center;
        }
    }

    &__btnSection {
        @extend .text-center, .mt-3;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #000000;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

            // @include media-breakpoint-down(sm) {
            //     font-size: 14px;
            //     line-height: 18px;
            // }
        }
    }
}

.expiredLinked_modal {
    width: 750px;
 
    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__closebtnlg {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__closebtnsm {
        @include media-breakpoint-up(sm) {
            display: none;
        }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 0 100px 60px 100px;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 20px 20px;
        }
    }

    &__top {
        margin-bottom: 10px;

        &__icon {
            text-align: center
        }

        h2 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    &__greyBox {
        background-color: $paleGrey;
        padding: 20px 24px;
        border-radius: 6px;
        margin-top: 16px;
        &__text {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
        }
        &__heading {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 16px;
            text-align: center;
        }
    }

    &__btnSection {
        @extend .text-center, .mt-3;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #000000;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

            // @include media-breakpoint-down(sm) {
            //     font-size: 14px;
            //     line-height: 18px;
            // }
        }
    }
    &__btnGrey {
        @extend .text-center, .mt-3;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #D9D9D9;;
            color: #000000;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

        }
    }
    &__btnDarkGrey {
        @extend .text-center, .my-3;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #808080;;;
            color: #ffffff;
            height: 95px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;
            &:hover{
                color: #ffffff;
            }

        }
    }
}

.howShopDropBox_modal {
    width: 750px;
 
    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__closebtnlg {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__closebtnsm {
        @include media-breakpoint-up(sm) {
            display: none;
        }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;

        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 0 100px 60px 100px;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 20px 20px;
        }
    }

    &__top {
        margin-bottom: 20px;

        &__icon {
            text-align: center;
        }

        h3 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        &__howTxt {
            @extend .mt-3;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 16px;
                line-height: 24px;
            }
        }

    }

    &__carousel {
        @extend .px-0;
        &__item {
            border: 1px solid #000000;
            border-radius: 20px;
            background-color: #EAF1BF;
            &__content {
                min-height: 220px;
                text-align: center;
                padding: 12px 34px;
                display: flex;
                align-items: center;
                p {
                    font-family: 'DM Sans' !important;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px !important;
                    line-height: 21px;
                    
                    color: #000000;
                    
                }
            }
            &:nth-child(even) {
                background-color: #DED5E7;
            }
        }
    }

    &__btnSection {
        @extend .text-center, .my-4;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #000000;
            height: 54px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

            // @include media-breakpoint-down(sm) {
            //     font-size: 14px;
            //     line-height: 18px;
            // }
        }
    }
}

.howShopDropVideoBox_modal {
    width: 750px;
 
    @include media-breakpoint-down(sm) {
        width: auto;
        bottom: 0;
        margin: 0;
    }

    &__content {
        background-color: transparent;
        // height: 100vh;
    }

    &__body {
        padding: 10px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
    }

    &__top {
        @extend .p-3;
        flex-grow: 0;
        margin-bottom: 10px;
        background: #F0EEEC;
        border-radius: 20px;
        width: 100%;
        &__icon {
            text-align: center
        }

        h3 {
            @extend .mt-0, .mb-0;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 18px;
                line-height: 30px;
            }
        }

        &__howTxt {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }

    &__carousel {
        @extend .px-0;
        // display: flex;
        // flex-grow: 1;
        // flex-shrink: 0;
        // height: 70%;
        &__item {
            border-radius: 20px;
            height: 100%;
            &__content {
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // text-align: center;
                // padding: 12px 34px;
                p {
                    font-family: 'DM Sans' !important;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px !important;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #fff;
                    
                }

                video {
                    position: absolute;
                    z-index: 0;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                }
            }
            &__videoOverlay {
                position: absolute;
                background-color: rgba(0,0,0,0.12);
                height: 100%;
                z-index: 1;
                border-radius: 20px;
                width: 100%;
            }
            &__caption {
                // position: relative;
                // display: flex;
                // flex-direction: column;
                z-index: 1;
                // height: 100%;
                // margin-top: 16px;
            }
            &__tierTxt {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #fff;
            }
            img {
                border-radius: 20px;
            }
        }
    }

    &__btnSection {
        @extend .text-center, .mt-3;
        flex-grow: 0;
        width: 100%;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

            // @include media-breakpoint-down(sm) {
            //     font-size: 14px;
            //     line-height: 18px;
            // }
        }
    }

    &__btnSection2 {
        @extend .text-center, .m-3;
        button {
            padding: 12px 30px;
            width: -webkit-fill-available;
            height: 46.8px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            border: 1px solid #000000;
            line-height: 23px;
            border-radius: 20px;
            &:hover{
                border: 1px solid #000000;

            }

            // @include media-breakpoint-down(sm) {
            //     font-size: 14px;
            //     line-height: 18px;
            // }
        }
    }
}
// @media (max-width: 576px) {
//     .Scan_modal{
//         display: none;
//     }
//  }

.Scan_modal {
    // @extend .d-sm-none;
    width: fit-content;

    // @include media-breakpoint-down(sm) {
    // display:none;
    // }


    &__closebtnlg {
        // @include media-breakpoint-down(sm) {
        //     display: none;
        // }

        display: flex;
        justify-content: flex-end;
        box-shadow: none !important;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__closebtnsm {
        // @include media-breakpoint-up(sm) {
        //     display: none;
        // }

        display: flex;
        justify-content: center;
        border-bottom: none;

        svg {
            cursor: pointer;
        }
    }

    &__content {
        border-radius: 12px;
        background: transparent;


        @include media-breakpoint-down(sm) {
            border-radius: 12px 12px 0px 0px;
            position: fixed;
            bottom: 0;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            overflow: scroll;
        }
    }

    &__body {
        padding: 20px 30px;
        text-align: center;
        background: $white;
        border-radius: 12px;
        background: transparent;

        @include media-breakpoint-down(sm) {
            padding: 0px 20px 20px 20px;
        }

        &_boxWidth{
            @extend .d-flex, .justify-content-center, .mt-3, .text-center, .bg-white, .rounded-3;
            padding: 40px;
            max-width: 524px;
            margin: 0 auto;
            max-height: 520px;
            overflow: scroll;
        }
    }

    &__top {


        &__icon {
            @extend .mb-4;
            text-align: center;
            width: 225px;
            display:contents;
        }

        h2 {
            @extend .mt-4, .mb-2;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: $font-weight-bolder;
            font-size: 32px;
            line-height: 42px;
            text-align: center;
            color: #000000;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                line-height: 31px;
            }
        }
    }
    &__transparentBox {
        text-align: center;
        padding: 15px 0;
        width:329px;

        &_greybtn{
            padding: 5px 30px;
            background: #D9D9D9!important;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.32px;
            color: $black
        }
        &__text {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px!important;
            line-height: 23px;
            text-align: center;
            color: $black;
            text-align: center;
        }

    }

    &__btnSection {
        @extend .text-center, .mt-3, .text-nowrap;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #D9D9D9;
            color: $black;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

        }
    }
    &__btnGrey {
        @extend .text-center, .mt-3;
        button {
            padding: 0px 30px;
            width: -webkit-fill-available;
            background: #D9D9D9;;
            color: #000000;
            height: 42px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            border-radius: 6px;

        }
    }
    // &__btnDarkGrey {
    //     @extend .text-center, .my-3;
    //     button {
    //         padding: 0px 30px;
    //         width: -webkit-fill-available;
    //         background: #808080;;;
    //         color: #ffffff;
    //         height: 95px;
    //         font-family: 'DM Sans';
    //         font-style: normal;
    //         font-weight: 500;
    //         font-size: 18px;
    //         line-height: 23px;
    //         border-radius: 6px;
    //         &:hover{
    //             color: #ffffff;
    //         }

    //     }
    // }
}

.howShopDropVideoBox_modal__heading	{
    @extend .text-capitalize, .text-center, .mt-3;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding-top: 10px;
    text-align: center;
}

.howShopDropVideoBox_modal__heading2	{
    @extend .text-capitalize, .text-center;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    &__howTxt2 {
        @extend .mt-3;
        color: #000;
        text-align: center;
        font-size: 10px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        // border-bottom: 1px solid #000;
        padding-bottom: 3px;

        @include media-breakpoint-down(sm) {
            font-size: 10px;
        }
    }
}

.modalBg{
	background-image: url("../assets/images/modalbg.png");
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #000;
    background-size: cover;
    background-position: bottom;
    .badge{
        color: #000000 !important;
    text-align: center;
    font-size: 14px !important;
    font-family: DM Sans !important;
    font-style: normal;
    font-weight: 400 !important;
    background-color: #fff;
    // &:active,
    // &:focus,
    // &:hover{
    //     background-color: #000000 !important;
    //     color:#fff !important;
    // }
    }
    .badgeActive {
        color: #fff !important;
    text-align: center;
    font-size: 14px !important;
    font-family: DM Sans !important;
    font-style: normal;
    font-weight: 400 !important;
    background-color: #000000 !important;
    // &:active,
    // &:focus,
    // &:hover{
    //     background-color: #000000 !important;
    //     color:#fff !important;
    // }
    }
}