@import "./variables.scss";

.overiew {
    &__header {
        margin: 30px 0 27px 0;
        h3 {
            font-size: 22px;
            font-weight: 700;
            line-height: 29px;
            color: $black;
        }
    }

    &_tag {
        @extend .py-1, .px-2, .text-nowrap;
        background: #dcd0e8;
        border-radius: 6px;
        width: fit-content;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        color: $black;
    }
    &__mainCampaignBox {
        @extend .my-3, .d-flex, .align-items-center;
        background: transparent;
        justify-content: space-between!important;
        border: 1px  dashed #DCD0E8;
        border-radius: 23px;
        padding: 20px;
        &__name {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: $black;

        }
        &__AddPartnerText {
            @extend .ms-2;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            color: $black;
        }
        &_justifySpaceBetween{
            justify-content: space-between;
        }
        &_ActivePartnerText{
            color: #A7C737;
        }
        button {
            @extend .text-nowrap, .px-2;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: $black
        }
        // &_buttonBold{
        //     @extend .text-nowrap, .px-2, .d-flex, .align-items-center;
        //     font-family: 'DM Sans';
        //     font-style: normal;
        //     font-weight: 700;
        //     font-size: 12px;
        //     text-align: center;
        //     color: $black
        // }
        p {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            padding-top: 5px;
            text-align: center;
        }
        &_ReturnOn{
            @extend .px-2, .text-start ;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: $black;
        }
    }
    &__description {
        color: #000000;
        line-height: 23px;
        font-size: 18px;
        font-weight: 400;
        font-family: "DM Sans";
    }
    &__campaignBox_area {
        display: grid;
        grid-template-columns: 3fr 1.15fr;
        grid-column-gap: 10px;
    }
    &__campaignBox {
        background: #dcd0e8;
        border: 1px solid #dcd0e8;
        border-radius: 23px;
        padding: 20px;
        &__name {
            background: #ffffff;
            border-radius: 8px;
            height: 85px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__year {
            font-family: "DM Sans";
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #fff;
            margin-bottom: 12px;
            margin-top: 8px;
        }
        button {
            @extend .text-nowrap;
            text-decoration: none;
            height: auto;
            max-height: max-content;
            width: 102px;
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            padding: 4px !important;
            margin-right: 12px;
        }
        &__logo {
            height: 85px !important;
            background: #f3f3f3;
            margin: 0 !important;
            button {
                height: 28px;
                font-size: 12px;
                line-height: 15px;
                font-weight: 400;
                padding: 7px 10px !important;
                margin-right: 12px;
                min-width: fit-content;
            }
        }

        p {
            margin: 0;
            font-size: 12px;
            line-height: 1;
            padding-top: 5px;
            text-align: center;
        }
    }
    &__campaignBox1 {
        background: #d5fa52;
        border: 1px solid #d5fa52;
        border-radius: 23px;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        &__name {
            background: #ffffff;
            border-radius: 8px;
            height: 85px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 116px;
        }
        &__year {
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            color: #fff;
            margin-bottom: 12px;
            margin-top: 8px;
        }
        &__activateHead {
            color: #000000;
            line-height: 23px;
            font-size: 18px;
            font-weight: 700;
            font-family: "DM Sans";
        }
        &__activatedesc {
            color: #000000;
            font-family: "DM Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
        button {
            height: 28px;
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            padding: 7px 10px !important;
            margin-right: 12px;
        }
    }
    &__performanceBox {
        border: 1px solid #dcd0e8;
        border-radius: 23px;

        padding: 15px 20px;

        &__tag {
            padding: 6px 8px;
            background: #dcd0e8;
            border-radius: 6px;
            width: fit-content;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 15px;
            text-align: center;
            color: $black;
        }
        &__multiplier {
            font-weight: 700;
            font-size: 36px;
            line-height: 20px;
            color: $black;
            margin-top: 14px;
            margin-left: 3px;
            font-family: "DM Sans";
        }
        &__rogs {
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            color: #000000;
            margin-top: 7px;
            margin-left: 2px;
            font-family: "DM Sans";
            display: flex;
            align-items: center;

            svg {
                margin-left: 4px;
            }
        }
    }
}
.metrics {
    margin-top: 66px;
    &__header {
        margin: 30px 0 24px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            font-size: 22px;
            font-weight: 700;
            line-height: 29px;
            margin-bottom: 0px !important;
        }
        &__dropdown {
            @extend .rounded-pill, .text-center;
            line-height: 24px;
            padding: 0px 2px 0px 8px;
            height: 24px;
            border: 1px solid $purple;
            border-radius: 4px !important;
            font-weight: $font-weight-bold;
            width: 138px;
            height: 38px;
            border-color: #fff !important;
            background: #f8f8f8 !important;
            display: flex;
            align-items: center;
            svg {
                margin-left: 2px;
            }
            &::after {
                @extend .border-0;
            }
            &:focus {
                box-shadow: none;
            }
            &__txt {
                padding: 0px 5px;
                width: 80px;
                font-family: "DM Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 24px;
            }
        }
        &__dropdown:hover {
            background-color: #fff !important;
            color: black !important;
        }
        &__dropdownMenu {
            border-radius: 10px;
            padding: 20px 0px;
        }

        &__dropdownItem {
            @extend .ms-3;
            padding-top: 10px;
            margin-top: 10px;
            &:first-child {
                padding-top: 0px;
                margin-top: 0px;
                margin-left: 0px !important;
            }
            a {
                width: fit-content;
                border: 1px solid $purple;
                border-radius: 4px;
                font-weight: $font-weight-bold;
                padding: 6px 8px;

                &:hover {
                    background: none !important;
                }
            }
        }
    }
    &__emptytxt {
        margin-top: 15px;
        color: #000000;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        font-family: "DM Sans";
        &__light {
            margin-top: 8px;
            text-decoration: underline;
            color: #918e8e;
            cursor: pointer;
        }
    }
    
    &__box {
        &__overlay {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #f3f3F3;
            opacity: 0.9;
            border: 1px dashed $purple;
            border-radius: 10px;
            z-index: 99;
        }
        &__overlayText {
            position: absolute;
            top: 50%;
            left: 50%;
            width: fit-content;
            background: white;
            padding: 0px 10px;
            border-radius: 10px;
            font-size: 30px;
            color: black;
            transform: translate(-50%,-50%);
        }
        &__coming_soon {
            position: relative;
        }
        &__customers {
            background: #f8f8f8;
            border-radius: 23px;
            padding: 16px 30px;
            &__header {
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
            }
            &__node {
                display: grid;
                grid-template-columns: 5fr 9fr 1fr;
                margin-top: 20px;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;

                &__value {
                    background: #d5fa52;
                    border-radius: 6px;
                    padding: 6px 12px;
                    margin: auto;
                    font-size: 12px;
                    font-weight: 500;
                    color: #000000;
                    line-height: 15px;
                }
            }
            &__acc {
                button {
                    background: none !important;
                    box-shadow: none !important;
                }
            }
            &__ques {
                button {
                    font-family: "DM Sans";
                    font-style: normal;
                    font-weight: 500 !important;
                    font-size: 14px;
                    line-height: 20px;
                    color: $black;
                    background-color: #f8f8f8 !important;
                    padding: 20px 0px;
                }
                &__name {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                }
            }
            &__acc_body {
                padding-top: 0px;
                padding-bottom: 20px;
                font-weight: 400 !important;
                font-family: "DM Sans" !important;
                font-size: 12px;
                line-height: 20px !important;
                color: #333333;
                background-color: #f8f8f8 !important;
            }
        }
        &__products {
            background: #f8f8f8;
            border-radius: 23px;
            &__header {
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }
            &__detail {
                height: fit-content;
                display: flex;
                margin-top: 20px;

                &_ptext {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding-left: 20px;
                }

                &__image {
                    height: fit-content;
                    padding: 5px;
                    border: 1px dashed #000000;
                    border-radius: 8px;
                    box-sizing: border-box;
                    background: #ffffff;
                }
                &__title {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    font-family: "DM Sans";
                }
                &__value1 {
                    margin: 10px 0px;
                    padding: 6px 10px;
                    background: #d5fa52;
                    border-radius: 6px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #000000;
                    font-family: "DM Sans";
                }
                &__value2 {
                    padding: 7px 10px;
                    background: #f28bf4;
                    border-radius: 6px;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    color: #000000;
                    font-family: "DM Sans";
                }
            }
        }
        &__summary_box {
            margin-top: 15px;
            margin-bottom: 15px;
            padding-right: 0px;
        }
    }
}
.strength {
    position: relative;
    padding: 50px;

    &__overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f3f3F3;
    opacity: 0.9;
    border: 1px dashed $purple;
    border-radius: 5px;
    z-index: 99;
    }

    &__overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    background: white;
    padding: 0px 10px;
    border-radius: 5px;
    font-size: 30px;
    color: black;
    transform: translate(-50%,-50%);
    }
    &__header {
        margin: 30px 0 10px 0;
        h3 {
            font-size: 22px;
            font-weight: 700;
        }
    }
    &__progressBar {
        margin: 0px !important;
        height: 14px !important;
        width: 95%;
    }
    &__barArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__acc {
        button {
            background: none !important;
            box-shadow: none !important;
        }
    }
    &__ques {
        button {
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 500 !important;
            font-size: 14px;
            line-height: 20px;
            color: $black;
            background-color: #fff !important;
            padding: 20px 0px;
        }
        &__name {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
        }
    }
    &__acc_body {
        padding-top: 0px;
        padding-bottom: 20px;
        font-weight: 400 !important;
        font-family: "DM Sans" !important;
        font-size: 12px;
        line-height: 20px !important;
        color: #333333;
        background-color: #fff !important;
    }
    &__node {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        border-bottom: 1px solid #dcdcdc;
    }
    &__experience {
        background: linear-gradient(
            290.19deg,
            #fee750 0%,
            #f8e291 24.48%,
            #f4dec4 61.81%,
            #ccb2f9 94.79%,
            #ccb2f9 100%
        );
        border-radius: 23px;
        padding: 10px 30px;
        &__trow {
            // width: 220px;
            width: auto;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            margin-top: 40px;
            margin-bottom: 7px;
        }
        &__brow {
            width: auto;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__viewAll {
        button {
            height: 28px;
            font-size: 12px;
            line-height: 15px;
            font-weight: 400;
            padding: 7px 10px !important;
            margin-right: 12px;
        }
    }
}
