@import "./variables.scss";

.partner {
    @extend .d-flex, .mt-2, .px-0;

    &__box_1 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color1;
        border-radius: $border-radius-medium;
    }

    &__box_2 {
        @extend .mb-4, .p-4;
        border: 1px dashed $dotted-border-color2;
        border-radius: $border-radius-medium;
    }

    &__wom_score {
        @extend .p-1, .px-3, .mx-1;
        font-family: "DM Sans";
        font-weight: 400!important;
        font-size: $font-size-small-medium;
        line-height: $line-height-15;
        color: $black;
        background: $classic;
        border-radius: $border-radius-light;
        margin-left: 25px !important;
        width: 35px;
        height: 26px;

    }

    &__sperator {
        @extend .mt-4;
        color: $black;
        opacity: $opacity-large;
    }
    &__separator {
        margin-top: 2rem;
        color: $black;
        opacity: $opacity-large;
    }

    &__btn {
        @extend .px-2;
        color: $black;
        font-weight: $font-weight-normal;
        font-size: $font-size-medium;
        line-height: $line-height-18;
        text-decoration: underline;
        cursor: pointer;
    }

    &__simple_txt {
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: $line-height-18;
        font-family: "DM Sans";
        font-style: normal;
        color: $black;
        &__aligned {
            @extend .d-flex, .justify-content-center, .align-items-center;
        }
    }

    &__detail_tag {
        font-weight: $font-weight-normal;
        font-size: $font-size-small-medium;
        line-height: $line-height-15;
        color: $black;
        &__tag1 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            font-weight: $font-weight-bold;
            background-color: $modern;
            border-radius: $border-radius-light;
            height: $height-normal;
        }
        &__tag2 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            background-color: $yellow;
            border-radius: $border-radius-light;
            height: $height-normal;
        }
        &__tag3 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            background-color: $tab3_clr;
            border-radius: $border-radius-light;
            height: $height-normal;
        }
        &__tag4 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            background-color: $recommended;
            border-radius: $border-radius-light;
            height: $height-normal;
        }
        &__tag5 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            background-color: $LightPurple;
            border-radius: $border-radius-light;
            height: $height-normal;
        }
    }

    &__light_txt {
        color: $subheadingclr;
        font-size: $font-size-medium;
        font-weight: $font-weight-light;
        line-height: $line-height-18;
        font-family: 'Mulish';
        opacity: $opacity-medium;
        margin-left: 0px;
    }

    h3 {
        @extend .m-3, .px-0;
        font-family: "DM Sans";
        font-style: normal;
        font-weight: $font-weight-bolder;
        font-size: $font-size-large;
        line-height: 29px;
        color: $black;
    }

    &__percentage_area {
        @extend .my-2;
        margin-left: 0px;
        &__percentage{
            @extend .py-1, .px-3;
            color: $black;
            font-size: $font-size-medium;
            font-weight: $font-weight-light;
            text-align: center;
            background-color: $modern;
            width: fit-content;
            border-radius: $border-radius-light;
        }
    
        &__editbtn{
            @extend .py-2, .px-3;
            color: $black;
            font-size: $font-size-small-medium;
            line-height: $line-height-16;
            font-weight: $font-weight-light;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__dark_btn {
        @extend .me-2, .px-2, .lh-sm, .rounded, .mx-1;
        height: 31px;
        min-width: 117px;
        &__txt {
            position: relative;
            top: 1px;
        }
    }

    &__data_row {
        @extend .px-2, .my-2, .d-flex, .justify-content-center, .align-items-center;
        font-weight: $font-weight-normal;
        font-size: $font-size-small-medium;
        line-height: $line-height-15;
        color: $black;
        background-color: $comp_bg;
        height: $height-large;
        border-radius: $border-radius-quarter;

        &__active {
            @extend .px-2, .my-2, .d-flex, .justify-content-center, .align-items-center;
            font-weight: $font-weight-normal;
            font-size: $font-size-small-medium;
            line-height: $line-height-15;
            color: $black;
            background-color: $classic;
            height: $height-large;
            border-radius: $border-radius-quarter;
        }

        &__tag1 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            font-weight: $font-weight-bold;
            background-color: $modern;
            border-radius: $border-radius-light;
            height: $height-normal;
            min-width: 118px;
        }
        &__tag2 {
            @extend .d-flex, .justify-content-center, .align-items-center;
            background-color: $yellow;
            border-radius: $border-radius-light;
            height: $height-normal;
            min-width: 124px;
        }
    }

    &__switch {
        input {
            width: 34px !important;
            height: $height-low;
            background-color: white !important;
            border-color: $low;
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%226%22%20cy%3D%227%22%20r%3D%226%22%20fill%3D%22%23E86562%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
        }
        input:checked {
            background-color: white !important;
            border-color: $dotted-border-color2;
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Ccircle%20cx%3D%226%22%20cy%3D%227%22%20r%3D%226%22%20fill%3D%22%23A7C737%22%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
        }
    }
}