@import "./variables.scss";
.progressbar {
	position: absolute;
	top: 20px;
	// height: 0.95rem;
	left: 0px;
	// background: $brand-gradiant repeat-x;
	width: 100%;
	@extend .brand-gradiat-repeat;

	&--100 {
		background-size: 15rem;
		background-repeat: repeat-x;
	}

	&--25 {
		background-size: 25%;
		background-repeat: no-repeat;
	}

	&--50 {
		background-size: 50%;
		background-repeat: no-repeat;
	}

	&--75 {
		background-size: 75%;
		background-repeat: no-repeat;
	}
	&--20 {
		background-size: 20%;
		background-repeat: no-repeat;
	}
	&--40 {
		background-size: 40%;
		background-repeat: no-repeat;
	}
	&--60 {
		background-size: 60%;
		background-repeat: no-repeat;
	}
	&--80 {
		background-size: 80%;
		background-repeat: no-repeat;
	}
}
