@import "./variables.scss";

.QRContainer {
  height: 100vh;
  overflow: hidden;

  @media (max-width: 767px) {
    height: auto;
  }

  &__Logo {
    @media (max-width: 767px) {
      text-align: center;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }

  &__form__wrapper {
    padding: 40px;
    font-size: 18px;
    margin: 0;

    @media (max-width: 767px) {
      padding: 0;
    }

    @include media-breakpoint-down(lg) {
      height: 600px;
      overflow-y: scroll;
    }
  }

  &__content__heading {
    max-width: 410px;

    p {
      padding-top: 50px;
      margin: 0;
      font-size: 18px;
    }
    h2 {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 31px;
      color: $black;
    }
  }

  &__content__container {
    @extend .pb-3, .pt-5;
    padding-left: 25px;

    @media (max-width: 767px) {
      padding-right: 25px;
    }

    hr {
      border: 0.3px solid #000000;
      opacity: 1;
    }
  }

  &__form__container {
    max-width: 300px;
    padding-top: 20px;

    @media (max-width: 767px) {
      max-width: none;
    }

    input {
      background: #f7f7fa;
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #d3d3d8;

      &::placeholder {
        color: #7b7b7d;
      }

      .invalid-feedback {
        font-size: 12px;
      }
    }

    label {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $black;
    }

    button {
      background: #202020;
      border-radius: 0;
      font-size: 18px;
      padding: 10px 18px;
    }
  }

  &__text__how {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
      font-size: 14px;
      color: #7f7f7f;
    }
  }

  &__bottom__content {
    @extend .pt-3;
    width: 85%;

    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }

    hr {
      color: $black;
    }
    p {
      color: $black;
      margin: 0;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.03em;
      font-feature-settings: "pnum" on, "lnum" on;
    }

    a {
      color: #000000;
    }

    svg {
      margin-right: 20px;
    }

    @include media-breakpoint-down(lg) {
      svg {
        margin-bottom: 10px;
      }
    }
  }

  &__social__media {
    @extend .pb-3, .pt-5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  &__desktopImage {
 

    @media (max-width: 767px) {
      display: none;
    }
    > div {
      height: 100vh;
    }
  }

  &__mobileImage {
    background-color: $bgClr;
    display: none;
    @media (max-width: 767px) {
      display: block;
    }
  }

  &__btnGroupShop {
    @extend .mb-4;
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__link {
    @media (max-width: 767px) {
      p {
        margin-bottom: 30px;
      }
    }
  }

  &__YR__Logo {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__YR__mobileLogo {
    display: none;
    @media (max-width: 767px) {
      text-align: center;
      display: block;
      padding-bottom: 30px;
    }
  }

  &__content__congrats {
    font-family: "DM Sans";
    @media (max-width: 767px) {
      text-align: center;
    }
    h2 {
      padding-top: 30px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
    }

    p {
      max-width: 468px;
      margin: 0;
      padding-bottom: 30px;
      font-family: "DM Sans"!important;
      font-style: normal;
      font-weight: $font-weight-light;
      font-size: 18px;
      line-height: 23px;

      @media (max-width: 767px) {
        max-width: none;
      }
    }
  }

  &__btn__goToStore {
    a {
      background: #202020;
      color: #ffffff !important;
      padding: 10px;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &__fit__image {
    background-color: $bgClr;
    object-fit: contain;
  }
  &__fit__imageQR3 {
    object-fit: cover;
    background-color: #5c6064;
  }
}
