@import "./variables.scss";

.rt {
    @extend .mt-2, .px-0;

    &__invite_box {
        @extend .my-4, .p-4;

        border: 1px dashed $dotted-border-color1;
        border-radius: $border-radius-medium;

        h3 {
            font-weight: 700;
            font-size: $size-16px;
            line-height: 21px;
        }
        h4 {
            @extend .mt-3, .mb-1;
            font-weight: 700;
            font-size: $size-14px;
            line-height: 18px;
        }
        span {
            font-weight: $font-weight-light;
            font-size: $size-14px;
            line-height: 18px;
            color: $subheadingclr;
            opacity: 0.5;
        }
        &_btn {
            @extend .mt-2;
            button {
                @extend .py-0;
                height: 28px;
            }
        }
    }

    &__rewards_box {
        @extend .my-4, .p-4;

        border: 1px dashed $dotted-border-color4;
        border-radius: $border-radius-medium;

        h3 {
            font-weight: 700;
            font-size: $size-16px;
            line-height: 21px;
        }
        span {
            font-weight: $font-weight-light;
            font-size: $size-14px;
            line-height: 18px;
            color: $subheadingclr;
            opacity: 0.5;
        }
    }

    &__importCustomer_box {
        @extend .mb-4, .p-4;

        border: 1px dashed $dotted-border-color2;
        border-radius: $border-radius-medium;

        h3 {
            font-weight: 700;
            font-size: $size-16px;
            line-height: 21px;
        }
        span {
            font-weight: $font-weight-light;
            font-size: $size-14px;
            line-height: 18px;
            color: $subheadingclr;
            opacity: 0.5;
        }
    }

    &__importDate_box {
        @extend .mb-4, .p-4;

        border: 1px dashed $dotted-border-color1;
        border-radius: $border-radius-medium;

        h3 {
            font-weight: 700;
            font-size: $size-16px;
            line-height: 18px;
        }
        h4 {
            font-weight: 700;
            font-size: $size-14px;
            line-height: 18px;
        }
        span {
            font-weight: $font-weight-light;
            font-size: $size-14px;
            line-height: 18px;
        }

        &_header {
            display: flex;
            justify-content: space-between;
        }

        hr {
            @extend .mt-0, .mb-3;
            opacity: 0.08;
        }

        &_row {
            @extend .d-flex, .my-2;
            justify-content: space-between;
        }
    }
    &__table_head {
        @extend .d-flex, .justify-content-around;
        &__txt {
            color: #000000;
            font-family: "DM Sans";
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            opacity: 0.4;
        }
    }
    &__acc1 {
        margin-top: 6px;
        button {
            box-shadow: none !important;
            // background: #F8F8F8 !important;
            background: rgba(220, 208, 232, 0.5) !important;
            border-radius: 23px !important;
            height: 43px !important;
            display: grid;
            grid-template-columns: 1.5fr 2.5fr 1.5fr;
            padding: 0;
            padding-left: 21px;
            padding-right: 16px;
            &::after {
                transform: rotate(270deg);
            }
        }

        &__row {
            display: flex;
            align-items: center;

            &__date {
                color: #000000;
                font-family: "DM Sans";
                font-weight: 700;
                line-height: 15px;
                font-size: 12px;
                text-align: center;
                background: #dcd0e8;
                border-radius: 6px;
                padding: 5px 13px;
                width: fit-content;
            }
            &__count {
                width: fit-content;
            }
        }
    }
    &_table_row {
        table {
            border-collapse: separate;
            border-spacing: 0px 25px;
            display: table;
        }

        th {
            background-color: #4287f5;
            color: white;
        }

        th,
        td {
            width: 150px;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        // border: none;
        &__data_row {
            @extend .border-0, .border-bottom, .border-5, .border-white, .rounded-pill, .gap-5;
            font-weight: $font-weight-normal;
            font-size: $font-size-small-medium;
            color: $black;
            background: $comp_bg;
            border-radius: $border-radius-large!important;
            margin-bottom: 10px!important;
            border-width: 3px!important;
 
            table {
                border-collapse: separate;
                border-spacing: 0px 25px;
            }

            table td {
                padding: 12px;
                width: 150px;
            }


            tr {
                background-color: #F8F8F8;
                border-radius: 23px;
                border-collapse: separate;
                border-spacing: 0px 25px;
    

            }
            td{
                vertical-align: middle;
                
            }
            td:first-child {
                border-top-left-radius: 23px;
                border-bottom-left-radius: 23px;
            }
            td:last-child {
                border-top-right-radius: 23px;
                border-bottom-right-radius: 23px;
            }
            &:hover{
                background-color: $lightClassic;
                border-radius: $border-radius-large; 
                
            } 
            &:active {
                background-color: $lightClassic;
                border-radius: $border-radius-large;
            }
        }
        &__tag1 {
            @extend .d-flex, .justify-content-start, .align-items-center;
            border-radius: $border-radius-light;
            background: #dcd0e8 !important;
            opacity: 100;
            width: fit-content;
        }
    }
    &_cursor_pointer {
        cursor: pointer;
      }
}
