@import "./variables.scss";

.screen1 {
	&__scroll {
		height: 190px;
		@extend .m-0, .p-0, .overflow-auto;
		/* width */
		&::-webkit-scrollbar {
			width: 8px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #888;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: $primary;
		}

		// input {
		// 	height: 20px;
		// 	width: 20px;
		// }
	}
}
