@import "./variables.scss";
.welcome {
	@extend .text-center;

	h1 {
		@extend .fw-bold;
	}
	h4 {
		@extend .fw-bold;
		font-family: DM Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
	}

	p {
		font-family: Mulish;
		font-style: normal;
		font-weight: 400 !important;
		font-size: 14px;
		line-height: 18px;
		color: #1d2329;
		opacity: 0.5;
	}

	label .form-check-label{
		font-family: Mulish;
		font-style: normal;
		font-weight: 400!important;
		font-size: 12px;
		line-height: 15px;
	}
	&__img {
		height: 1.5rem;
	}

	hr {
		height: 0.625rem;
		opacity: 5;
		margin: 0rem;
		margin-top: -0.625rem;
	}
}
