@import "./variables.scss";
.letsgo {
	&__left {
		@extend .d-flex, .flex-column, .justify-content-center, .px-4, .align-items-center;
	}
	&__box {
		@extend .border, .p-3, .w-100, .shadow-sm, .mt-4;
		border-radius: 10px;

		&:first-child {
			// position: relative;
			// padding: 30% 2em;
			// box-sizing: border-box !important;

			// $border: 5px;
			// // color: #fff;
			// background: #fff;
			// background-clip: padding-box !important;

			// &:before {
			// 	content: '';
			// 	position: absolute;
			// 	top: -2px;
			// 	right: 0;
			// 	bottom: 0;
			// 	left: 0;
			// 	z-index: -1;
			// 	margin: -$border !important; /* !importanté */
			// 	border-radius: inherit; /* !importanté */
			// 	background: $brand-gradiant !important;
			// }
			border-color: #ccb2f9 !important;
			border-width: 2px !important;
			@extend .gradient-box;
		}

		&_col1 {
			@extend .d-flex, .align-items-center, .flex-column, .justify-content-center, .border-end;
		}
		&_col2 {
			@extend .d-flex, .flex-column;
			p {
				@extend .pb-0, .mb-0;
			}
		}
	}
}
