@import "./variables.scss";
.rewards {
	@extend .text-sm-start;
	h6 {
		font-size: 14px;
	}
	h5 {
		font-size: 12px;
	}
	h4{
		font-size: 14px;
	}
	p {
		font-size: 14px;
		margin-left: 60px;
	}

	&__radio {
		@extend .d-flex, .justify-content-end, .align-items-end, .p-0, .m-1;
		// & + label {
		&:focus:not(:focus-visible),
		&:checked,
		&:active {
			outline: none !important;
			border: none !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
		// }
	}
	&__group {
		& input[type=radio] + label:not(:focus-visible) {
			outline: none !important;
			border: none !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
		& input[type=radio]:checked + label div {
			// background-color: $primary;
			background-image: linear-gradient(to top, #fee750 0%, #f4dec4 45.31%, #ccb2f9 94.79%, #ccb2f9 100%);
		}

		& input[type=radio]:nth-child(1):checked + label div {
			// background-color: $primary;
			background-image: linear-gradient(to top, #fee750 0%, #f4dec4 45.31%, #ccb2f9 94.79%, #ccb2f9 100%);
		}
	}

	&__bars {
		@extend .m-0, .p-0;
		@extend .border-0, .rounded-3;

		background-color: $secondary;
	}

	&_hide {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;
	}
}
.edit_btn {
    height: 28px;
    width: 169px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: #ffffff;
}
.low_btn {
    height: 21px;
    width: 66px;
    left: 0px;
	text-align: center;
    top: 0px;
    border-radius: 8px;
    color: #ffffff;
    background: rgba(232, 101, 98, 0.5);
    opacity: 40%;
    margin: 1px 5px 0 0;
}
.avg_btn {
    height: 21px;
    width: 66px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    color: #ffffff;
    background: #f7bc7d;
    opacity: 40%;
    margin: 1px 5px 0 0;
	text-align: center;
}
.high_btn {
    height: 21px;
    width: 73.79px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    color: #ffffff;
    background: #a7c737;
    opacity: 40%;
    margin: 1px 5px 0 0;
	text-align: center;

}
.super_btn {
    height: 21px;
    width: 73.79px;
    left: 0px;
    top: 0px;
	text-align: center;
    border-radius: 8px;
    color: #ffffff;
    background: #a68ad6;
    opacity: 40%;
    margin: 1px 5px 0 0;
}
.box {
    height: 80px;
    width: 284px;
    right: 0px;
    top: 0px;
    border-radius: 18px;
    border-radius: 23px;
    border: 1px dashed #a68ad6;
    padding: 10px;
    margin-left: 10px;
	margin-top: 15px;
}
.percent_btn{
	height: 24px;
	width: 45px;
	left: 0px;
	top: 0px;
	border:none;
	border-radius: 6px;
	text-align: center;
	background-color: #D5FA52;

}