@import "./variables.scss";
.ob_settings {
	@extend .text-center;
	// @extend .fw-bold;
	&__thumbnail {
		@extend .border-0, .rounded-3, .mx-1;
		width: 54px;
		height: 49px;
	}
	&__brandcolor {
		@extend .d-flex, .border, .rounded, .align-items-center;

		input[type="color"] {
			border: 0.05rem solid #3c3c3c;
			outline: 0;
			-webkit-appearance: none;
			width: 84px;
			height: 30px;
			padding-left: 10px;
		}
	}

	&__bannercolor {
		button {
			@extend .ob_settings__thumbnail;
			min-width: 54px !important;
			span {
				font-size: 9px;
				@extend .text-muted;
				display: block;
				// @include gradient-bg('#3c3c3c');
			}
		}
	}

	&__radio {
		@extend .m-0, .p-0;
		@extend .ob_settings__thumbnail;
		&:focus:not(:focus-visible),
		&:checked,
		&:active,
		& .focus-visible:focus:not(:focus-visible) {
			outline: 0;
			border: none !important;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
		& img {
			height: 100%;
		}
	}
	&__group {
		// &btn-group {
		// 	display: block !important;
		// }
		input[type="radio"]:checked + label::before {
			background-color: $primary;
			@extend .px-1, .rounded-pill;
			content: "✓";
			position: absolute;
			color: white;
			right: -6px;
			top: -5px;
		}
	}
	&__uploadbtn {
		@extend .border-0, .rounded-3, .mx-2;
		width: 100%;
		// height: 56px;
		background-color: $secondary;
	}

	&_hide {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;

		&:checked {
			background: url(/assets/images/cart.png) -105px center no-repeat;
		}
	}
	.nput_click {
		border: 0.05rem solid grey !important;
		border-radius: 2px !important;
		width: 200px !important;
		background: white !important;
		color: black !important;
		@extend .fw-bold;
	}
	.display {
		display: inline !important;
	}
	.imgbox {
		position: relative;
		text-align: center;
	}
	.centered {
		position: absolute;
		padding: 2px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #161414 !important;
		font-size: 10px;
		font-weight: normal;
	}
	.border {
		border: 1px solid #dddddd;
	}
	h1,
	h5,
	h6 {
		@extend .fw-bold;
		color: black;
		font-weight: 600 !important;
	}
	&__img {
		height: 1.5rem;
	}

	hr {
		height: 0.625rem;
		opacity: 5;
		margin: 0rem;
		margin-top: -0.625rem;
	}

	h3 {
		@extend .fw-bolder, .lh-base, .px-0, .fs-3, .mt-2;
		font-family: Montserrat;
		color: $black;
	}
	h4 {
		@extend .my-0;
		font-family: DM Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		color: $subheadingclr;
	}

	&_detail {
		@extend .m-0;
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: #1d2329;
		opacity: 0.5;
	}

	label {
		font-family: DM Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: #161414;
	}

	&_preSet {
		@extend .mb-3;
		font-family: DM Sans;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;

		color: #161414;
	}
}

.badge {
	@extend .m-1, .p-1, .px-2, .fw-bold, .rounded, .lh-sm;
	font-size: 8px;
	background: $recommended !important;
	color: $black !important;
}
.vertical {
	border-left: 1px solid #dee2ed;
	height: 200px;
}

.smallt {
	@extend .text-end;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 13px;
        color: #1d2329;
        opacity: 0.5;
}

.btn-group {
	display: block !important;
}

.gs_design{
h4 {
	@extend .mb-0;
	font-family: DM Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	color: $subheadingclr;
}
}