@import "./variables.scss";
.rewards {
    // @extend .text-sm-start;
    h6 {
        color: $black;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }

    h4 {
        color: $subheadingclr;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }
    p {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #1d2329;
        opacity: 0.5;
    }
    &_btn_pre {
        width: 124px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #282828;
    }
    &__radio {
        @extend .d-flex, .justify-content-end, .align-items-end, .p-0, .m-1;
        // & + label {
        &:focus:not(:focus-visible),
        &:checked,
        &:active {
            outline: none !important;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
        // }
    }
    &__group {
        & input[type="radio"] + label:not(:focus-visible) {
            outline: none !important;
            border: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
        & input[type="radio"]:checked + label div {
            // background-color: $primary;
            background-image: linear-gradient(to top, #fee750 0%, #f4dec4 45.31%, #ccb2f9 94.79%, #ccb2f9 100%);
        }

        & input[type="radio"]:nth-child(1):checked + label div {
            // background-color: $primary;
            background-image: linear-gradient(to top, #fee750 0%, #f4dec4 45.31%, #ccb2f9 94.79%, #ccb2f9 100%);
        }
    }

    &__bars {
        @extend .m-0, .p-0;
        @extend .border-0, .rounded-3;

        background-color: $secondary;
    }

    &_hide {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }

    &_text_lg {
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #1d2329;
    }
    &_text_sm {
        @extend .mt-0, .my-0;
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #1d2329;
        opacity: 0.5;
    }

    &_BaseMax {
        @extend .my-2;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    &_Generous {
        @extend .mt-3;
        font-family: Mulish;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #1d2329;
    }

    &__percent_btn {
        @extend .py-1, .fw-bold, .px-0, .mb-2;
        width: 45px;
        border-radius: 6px;
        text-align: center;
        background-color: #d5fa52;
        display: inline-block;
    }
    &__box {
        height: 80px;
        width: 284px;
        right: 0px;
        top: 0px;
        border-radius: 18px;
        border-radius: 23px;
        border: 1px dashed #a68ad6;
        padding: 10px;
        margin-left: 10px;
        margin-top: 15px;
    }
    &__box2 {
        @extend .my-3, .p-2;
        width: 248px;
        margin-left: 1px;
        border: 1px dashed #f28bf4;
        box-sizing: border-box;
        border-radius: 18px;
    }
}
.low_btn {
    @include button-variant($low, $low);
    @extend .px-1, .py-1, .lh-sm, .text-end;
    color: $white;
    opacity: 50%;
    width: 66px;
    margin-right: 1.25px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .low_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $low;
        border-radius: 8px !important;
    }
}
.avg_btn {
    @include button-variant($average, $average);
    @extend .px-1, .py-1, .lh-sm, .text-end;
    color: $white;
    opacity: 50%;
    width: 75px;
    margin-right: 1.25px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .avg_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $average;
        border-radius: 8px !important;
    }
}

.high_btn {
    @include button-variant($btnhigh, $btnhigh);
    @extend.px-1, .py-1, .lh-sm, .text-end;
    color: $white;
    opacity: 50%;
    width: 75px;
    margin-right: 1.25px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .high_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $btnhigh;
        border-radius: 8px !important;
    }
}

.super_btn {
    @include button-variant($supercharged, $supercharged);
    @extend .px-1, .py-1, .lh-sm;
    color: $white;
    opacity: 50%;
    width: 100px;
    margin-right: 1.25px;
    border-radius: 8px !important;
    &:hover {
        color: $white;
        opacity: 100%;
        border-color: $black;
    }
    &:active,
    &:focus,
    &_dark {
        @extend .super_btn;
        color: $white;
        opacity: 100%;
        border-color: $black;
        background-color: $supercharged;
        border-radius: 8px !important;
    }
}
