@import "./variables.scss";
.welcome {
	// @extend .text-center;
	input {
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: #161414;

	}
	p {
		@extend .py-0;
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
	}
	h1 {
		@extend .fw-bold;
	}

	h4 {
		font-family: DM Sans;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 21px;
	}

	&_digits {
		@extend .d-flex, .align-items-center, .justify-content-start;
		width: 26px;
	}
	&__img {
		height: 1.5rem;
	}

	hr {
		height: 0.625rem;
		opacity: 5;
		margin: 0rem;
		margin-top: -0.625rem;
	}
	.defineyourbrandsec1 {
		background-image: url("../assets/images/defineyoubrandimgbg.png");
		background-size: 30% 100% cover;
		background-repeat: no-repeat;
	}
	.btnCon {
		border: 1px solid linear-gradient(270deg, #fee750 0%, #ccb2f9 100%);
		width: 12vw;
		height: 2.6vw;
		padding: 1px;
		border-radius: 0.2vw;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2.5vw;
	}
}
