@import "./variables.scss";
.welcome {
	@extend .text-center;
	// overflow-y: scroll;
    height: 700px;
	  
   &_taghead{

	margin-left: 36px;
	}

	h3 {
		font-family: DM Sans;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
	}
	h4 {
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;
		text-align: center;
		color: $black;
	}

	hr {
		height: 0.625rem;
		opacity: 5;
		margin: 0rem;
		margin-top: -0.625rem;
	}
	.rect_box {
		width: 507px;
		height: 83px;
		left: 0px;
		top: 0px;
		align-items: center;
		background: #ffffff;
		border: 1px dashed #a68ad6;
		box-sizing: border-box;
		border-radius: 10px;
	}
	p {

		text-align: justify;
		font-family: Mulish;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;

		b{  
			font-weight: 700!important;
		}
	}

	.model-body{
		padding: 0rem !important;
	
	}
	
	
}
.sideImg {
	background-image: url("../assets/images/step-image.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 451px;
	height: 700px;
	padding: 0px!important;
}
