@import "./variables.scss";
.upload-logo {
	// border-style: dashed !important;
	border-radius: 10px !important;
	position: relative;
	// max-width: 150px;
	// max-height: 120px;

	@extend .rounded, .m-2 , .mx-0, .d-flex, .justify-content-center, .py-4;
	width: 85%;
	height: fit-content;
	background-color: #F3F3F3;
	overflow: hidden;

	label {
		@extend .text-center, .mx-1, .mt-2;
		font-size: $small-font-size;
	}

	&--icon {
		align-self: center !important;
		height: 1.5rem;
	}

	&--progress {
		height: 5px;
		position: absolute;
		bottom: 0;

		width: 100%;
	}

	img {
		max-width: 150px;
		max-height: 120px;
	}
		// position: relative;
		button {
			// position: absolute;
			// top: 20%;
			@extend .position-absolute, .top-50, .start-50, .translate-middle;
		}
		img {
			// position: absolute;
			// top: 1px;
			@extend .position-absolute, .top-50, .start-50, .translate-middle;
		}


}
