@import "./variables.scss";
.upload-logo {
	// border-style: dashed !important;
	border-radius: 10px !important;
	position: relative;
	// max-width: 150px;
	// max-height: 120px;

	@extend .rounded, .m-2 , .mx-0, .d-flex, .justify-content-center, .py-4;
	width: 85%;
	height: fit-content;
	background-color: #F3F3F3;
	overflow: hidden;

	label {
		@extend .d-flex, .flex-row, .text-center, .mx-1, .mt-2;
		 align-self: center !important;
		// font-size: $small-font-size;
		font-family: Mulish;
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		text-align: center;
		color: #1d2329;
		width: 108px; 
	}

	&--icon {
		@extend .d-flex, .flex-row,.justify-content-center;
		align-self: center !important;
		// height: 1.5rem;
		width: max-content;
		height: 27.29px;
	}

	&--progress {
		height: 5px;
		position: absolute;
		bottom: 0;

		width: 100%;
	}

	img {
		// max-width: 150px;
		// max-height: 120px;
		max-width: 100%;
		height: auto;
	}
		// position: relative;
		button {
			// position: absolute;
			// top: 20%;
			@extend .position-absolute, .top-50, .start-50, .translate-middle;
		}
		img {
			// position: absolute;
			// top: 1px;
			@extend .position-absolute, .top-50, .start-50, .translate-middle;
		}


}
