@import "./variables.scss";
.upload-logo {
	// border-style: dashed !important;
	border-radius: 10px !important;
	position: relative;

	@extend .rounded, .m-2 , .mx-0, .d-flex, .justify-content-center, .py-4;
	width: 85%;
	height: fit-content;
	background-color: #F3F3F3;

	label {
		@extend .text-center, .mx-1, .mt-2;
		font-size: $small-font-size;
	}

	&--icon {
		align-self: center !important;
		height: 1.5rem;
	}

	&--progress {
		height: 5px;
		position: absolute;
		bottom: 0;

		width: 100%;
	}

	img {
		max-width: 100%;
		max-height: 95%;
	}
}
