@import "~bootstrap/scss/functions";
$font-family-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
	"Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base: 0.75rem !default;
$small-font-size: .675em !default;

$sub-sup-font-size: .55em !default;

$display-font-weight: 400 !default;
$font-weight-light: 400 !default;
$font-weight-normal: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: 700 !default;
$enable-gradients: true;

$primary: #403f43;
$secondary: #f3f3f3;
@import "~bootstrap/scss/variables";
$small-font-size: .675em !default;

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/utilities/api";

$brand-gradiant: linear-gradient(270deg, #fee750 0%, #f4dec4 45.31%, #ccb2f9 94.79%, #ccb2f9 100%);

$brand-gradiant-repeat: repeating-linear-gradient(270deg, #fee750 0%, #f4dec4 45.31%, #ccb2f9 94.79%, #ccb2f9 100%);

.brand-gradiat-repeat {
	background: rgb(227 227 227);
	background-image: -moz-linear-gradient(
		90deg,
		rgba(204, 178, 249, 1) 0%,
		rgba(204, 178, 249, 0.9360119047619048) 15%,
		rgba(244, 222, 196, 1) 30%,
		rgba(254, 231, 80, 1) 50%,
		rgba(244, 222, 196, 1) 70%,
		rgba(204, 178, 249, 0.9416141456582633) 85%,
		rgba(204, 178, 249, 1) 100%
	);
	background-image: -webkit-linear-gradient(
		90deg,
		rgba(204, 178, 249, 1) 0%,
		rgba(204, 178, 249, 0.9360119047619048) 15%,
		rgba(244, 222, 196, 1) 30%,
		rgba(254, 231, 80, 1) 50%,
		rgba(244, 222, 196, 1) 70%,
		rgba(204, 178, 249, 0.9416141456582633) 85%,
		rgba(204, 178, 249, 1) 100%
	);
	background-image: linear-gradient(
		90deg,
		rgba(204, 178, 249, 1) 0%,
		rgba(204, 178, 249, 0.9360119047619048) 15%,
		rgba(244, 222, 196, 1) 30%,
		rgba(254, 231, 80, 1) 50%,
		rgba(244, 222, 196, 1) 70%,
		rgba(204, 178, 249, 0.9416141456582633) 85%,
		rgba(204, 178, 249, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ccb2f9", endColorstr="#ccb2f9", GradientType=1);
}
