@import "./variables.scss";

.videoWidget {
    &__box {
        position: fixed;
        width: fit-content;
        right: 20px;
        bottom: 20px;

        &:hover {
            .videoWidget__closeBox__icon {
                display: flex;
            }
            .videoWidget__playBox__icon {
                display: flex;
            }
        }

        @include media-breakpoint-down(md) {
            bottom: 100px;
        }
    }

    &__closeBox {
        display: flex;
        justify-content: end;
        align-items: center;

        &__icon {
            display: none;
            cursor: pointer;
            color: white;
            z-index: 5;
            height: 16px;
            @include media-breakpoint-down(md) {
                display: flex;
            }
        }
    }

    &__barBox{
        position: absolute;
        top: 16px;
        left: 10px;
        &__progress {
            color: red;
            background-color: unset;
            height: 5px;
            border-radius: 5px;
            &::-webkit-progress-value{
                background: whitesmoke;
                border-radius: 20px;
            }
            &::-webkit-progress-bar {
                border-radius: 20px;
                background-color: #a4a2a4;
            }
        }
        &__range {
            background-color: unset;
            height: 5px;
            border-radius: 5px;
        }
        &__bottom{
            position: absolute;
            bottom: 16px;
            left: 20px;
            z-index: 99;
            input[type='range'] {
                overflow: hidden;
                -webkit-appearance: none;
                background-color: #a4a2a4;
            }
            
            input[type='range']::-webkit-slider-runnable-track {
            height: 10px;
            -webkit-appearance: none;
            color: whitesmoke;
            margin-top: -1px;
            }
            
            input[type='range']::-webkit-slider-thumb {
            width: 10px;
            -webkit-appearance: none;
            height: 10px;
            cursor: ew-resize;
            background: whitesmoke;
            box-shadow: -80px 0 0 80px whitesmoke;
            }
            &__time{
                display: flex;
                justify-content: space-between;
                color: #fff;
            }
        }
    }

    &__playBox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &__icon {
            display: none;
            cursor: pointer;
            @include media-breakpoint-down(md) {
                display: flex;
            }
        }
    }
    &__howToBox {
        display: flex;
        align-items: center;
        position: absolute;
        left: 25px;
        top: 170px;
        cursor: pointer;

        img {
            height: 13px;
        }

        p {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            padding-inline-start: 6px;
        }
    }
}